[2017-01-12 23:51] andfoy opened #1 "Create PyPi distribution package and setuptools configuration"
1. Create `setup.py`according to https://packaging.python.org/distributing/
2. Test distribution on `pip`

[2017-01-13 00:00] goanpeca commented on #1
No labels :-(

[2017-01-13 00:01] andfoy commented on #1
Hahaha, let me create them first!

[2017-01-13 00:06] andfoy opened #2 "Create Conda redistribution package"
1. Create conda recipe according to: http://conda.pydata.org/docs/build_tutorials/pkgs.html
2. Test resdistribution using ``conda``

[2017-01-13 00:07] andfoy opened #3 "Write package documentation and description"
Extend README.md contents

[2017-02-04 17:39] andfoy opened #4 "Add project skeleton"
Based on https://github.com/spyder-ide/spyder-plugin-cookiecutter

[2017-02-04 17:40] #4 closed

[2017-02-12 00:15] andfoy opened #6 "Implement basic web bash console using tornado and xterm.js"
This terminal implementation should be compatible with the [xterm.js API](http://xtermjs.org/docs/api/Terminal/), besides, the terminal execution shall be asynchronous and non-blocking. Also it shall support POSIX compatible Operating Systems and Windows command execution.

[2017-02-12 00:31] #6 closed

[2017-03-03 00:56] rlaverde commented on #6
I came across this package https://ergonomica.github.io/ I think It could be a good option but maybe It's out of the scope of this plugin.

[2017-03-03 12:58] ccordoba12 commented on #6
@rlaverde, we need a real shell to use here. This means, a shell that can run Vim or Emacs inside it.

And I doubt Ergonomica or Xonsh have those capabilities :-)

[2017-03-03 14:46] andfoy commented on #6
@rlaverde, @ccordoba12 is right, We need a full featured system console to execute external commands that are not defined on Python neither on Spyder

[2017-03-11 23:09] andfoy opened #10 "Display xterm terminal inside a QWebView widget"
The widget must display the ``index.html`` served by the Tornado server.

[2017-03-11 23:12] #10 closed

[2017-03-17 15:31] andfoy opened #12 "Solve security access problem"
The tornado backend server should be deployed only on loopback interface.

[2017-03-18 23:21] #12 closed

[2017-03-18 23:22] andfoy opened #14 "Extract Javascript dependencies to a bower.json file"
Dependencies should be bundled via bower.

[2017-03-19 01:11] andfoy opened #15 "Server should start and end with Spyder process"
The tornado server should be deployed when Spyder starts (Similarly when the process finishes).

[2017-03-19 01:12] #15 closed

[2017-03-21 22:10] ccordoba12 commented on #14
@andfoy, this is the most important thing to do before releasing **0.1**. Great job, by the way :-)

[2017-03-23 00:55] #14 closed

[2017-03-23 01:17] andfoy opened #20 "Create basic terminal shortcuts"
The following terminal shortcuts must be defined:

- [x] Copy (Ctrl + C)
- [x] Paste (Ctrl + V)
- [x] Launch a new instance (Ctrl + Shift + T)

[2017-03-23 01:21] andfoy opened #21 "Each terminal instance should be launched on currently opened path"
The current working directory of a terminal should correspond to the cwd defined on Spyder.

[2017-03-23 01:29] andfoy opened #22 "Incorporate Windows version using pywinpty"
This should be a separate project, however it must be added as a dependency.

[2017-03-23 02:23] andfoy commented on #20
@ccordoba12 How do I register shortcuts for the first time without having to modify the CONF file directly on Spyder, I notice the existence of the ``spyder.config.gui.set_shortcut`` function, however, I would like to know how to initialize the default values.

[2017-04-03 00:00] #20 closed

[2017-04-03 00:20] andfoy opened #24 "Add CI Engines and Minor Tests"
Add some tests and integrate them with CircleCI and Travis

[2017-04-03 00:41] ccordoba12 commented on #24
This should be done for 0.1 :-)

[2017-04-03 00:42] ccordoba12 commented on #24
I can help you with that.

[2017-04-03 00:44] #3 closed

[2017-04-03 00:46] ccordoba12 opened #27 "Don't hard code port number"
Instead of hard-coding the port for the tornado app to `8070`, it should be selected from the available ports in the system.

For that, we need to use `select_port` from `spyder/utils/misc.py`

[2017-04-03 00:47] andfoy commented on #27
I tried to implement that functionality without sucess

[2017-04-03 00:58] ccordoba12 commented on #27
What if you wait until the port is closed? Or force it to close?

[2017-04-03 02:44] #24 closed

[2017-04-03 02:59] andfoy opened #29 "Release v0.1"
First production release of spyder-terminal.

TODO:

* [x] Select ports
* [x] Text overflow
* [x] Terminal names
* [x] Test PyQt 5.8
* [x] Font selection

[2017-04-03 03:05] ccordoba12 commented on #29
Tests are failing because Circle doesn't come with `npm`. I'm going to help you with that.

[2017-04-03 03:08] andfoy commented on #29
Thanks!

[2017-04-03 03:19] ccordoba12 commented on #29
I opened #30 to fix our tests ;-)

[2017-04-03 03:27] ccordoba12 opened #31 "Prevent running this plugin if Spyder is using PyQt4"
This is an important thing to do and something I forgot to mention before. This is because PyQt4 uses a websockets version that is too old for modern standards.

The plugin should deactivate itself and show a warning message in that case.

[2017-04-03 03:30] andfoy commented on #29
I will fix the pydocstyle errors, but it seems that the test is timing out

[2017-04-03 03:31] ccordoba12 commented on #29
Let's move the discussion to #30

[2017-04-03 03:33] andfoy commented on #31
How do I indicate Spyder to discard the plugin if PyQt version is lower than 5?

[2017-04-03 03:43] ccordoba12 commented on #31
I don't think it's necessary to do it in Spyder, I think it can be done here.

You could not declare `PLUGIN_CLASS` in `spyder_terminal/__init__.py` if running in PyQt4. You can use the `PYQT5` constant of qtpy for that.

[2017-04-11 03:12] andfoy opened #32 "Fix text overflow when commands fill all the terminal space"
Required by #29

[2017-04-11 05:11] #32 closed

[2017-04-11 06:50] andfoy opened #34 "Terminals should use user-defined fonts"
The font should be loaded from Spyder preferences.

[2017-04-11 20:14] #34 closed

[2017-04-11 20:30] #31 closed

[2017-04-11 20:31] andfoy opened #37 "Each terminal should be numbered sequentially"
Set Terminal title as ``Terminal 1, 2, ...``

[2017-04-11 21:27] #37 closed

[2017-04-11 22:21] #27 closed

[2017-04-11 23:23] #21 closed

[2017-04-12 00:27] #29 closed

[2017-04-12 01:09] #1 closed

[2017-04-12 03:14] ccordoba12 opened #43 "Getting annoying Qt warnings"
I'm getting a very annoying Qt warning after starting or resizing terminals:

`content-type missing in HTTP POST, defaulting to application/x-www-form-urlencoded. Use QNetworkRequest::setHeader() to fix this problem.`

The problem seems the `Post` calls to the server are sent without a body, and Qt complaints about them.

@andfoy, it should be an easy fix for you :-)

[2017-04-12 03:15] ccordoba12 commented on #43
I forgot to say that those warnings are printed to the terminal where Spyder was started.

[2017-04-12 03:26] ccordoba12 opened #44 "Make mouse wheel to work"
This is kind of annoying too: if you try to browse the contents of the terminal using the mouse wheel, it doesn't work. You have to directly press the scrollbar to do that.

I don't know if it's possible to fix this, but we should definitely give it a try.

[2017-04-12 03:30] ccordoba12 opened #45 "Plugin "Options menu" is empty"
When you press the little wheel on the top right corner (i.e. the Options menu), it doesn't return anything.

At least we should add there an entry to create a new terminal.

[2017-04-12 03:32] ccordoba12 opened #46 "Rename plugin to "Terminal""
@goanpeca suggested to avoid long names for plugins, so instead of *System terminal* this plugin should be named just *Terminal*.

[2017-04-12 18:52] goanpeca commented on #46
:+1: :-)

[2017-04-21 21:48] goanpeca opened #47 "Move terminal webview to be inside a QFrame so that dock panes in Spyder are uniform"

[2017-04-27 08:48] imaluengo opened #48 "Terminal content not re-scaling to plugin size"
With the latest Qt 5.8.x and latest version of Spyder the terminal doesn't change its size to fit the window it is in. It throws this error while loading (which might just be the case that it is not loading properly):

    [...]
    spyder_terminal/widgets/terminalgui.py", line 50, in __init__
        self.view.page().contentsChanged.connect(self.contents_modified)
       AttributeError: 'WebPage'

[2017-04-27 13:16] andfoy commented on #48
Thanks for the report, it will corrected on 0.1.1

[2017-04-27 13:19] goanpeca commented on #48
@andfoy we might need to add this patch to qtpy

[2017-04-27 13:22] andfoy commented on #48
Then we should ping @ccordoba12 ?

[2017-04-27 19:25] ccordoba12 commented on #48
I think this bug belongs here because it's something that can be handled with the `WEBENGINE` constant of `qtpy`.

[2017-04-27 19:26] goanpeca commented on #48
@ccordoba12 I think this qualifies as a version specific patch on qtpy

[2017-04-27 19:37] ccordoba12 commented on #48
Ok, that way it could be picked up by any other project using `qtpy`.

@andfoy, please open a PR in `qtpy` about this. Please take a look to

https://github.com/spyder-ide/qtpy/blob/master/qtpy/_patch/qcombobox.py

to see how widgets are patched.

[2017-05-06 17:53] andfoy commented on #48
I think we should delete that instruction from ``terminalgui.py``

[2017-05-06 17:54] andfoy commented on #48
It's doing nothing right now

[2017-05-06 18:10] #48 closed

[2017-05-06 18:14] #43 closed

[2017-05-06 18:19] #46 closed

[2017-05-13 03:00] andfoy commented on #47
In it's current state, the webview is embedded inside a QFrame [spyder_terminal/widgets/terminalgui.py#L26](https://github.com/spyder-ide/spyder-terminal/blob/master/spyder_terminal/widgets/terminalgui.py#L26)

[2017-05-13 03:00] #47 closed

[2017-05-13 03:09] #44 closed

[2017-05-13 04:23] andfoy opened #55 "Release Spyder Terminal v0.1.1"
First bug fix release after v0.1

[2017-05-13 04:26] #45 closed

[2017-05-13 04:42] #55 closed

[2017-05-30 15:47] avylove opened #57 "Server doesn't launch on Spyder startup"
## Description of your problem
The tornado server doesn't seem to launch on Spyder startup

Executing spyder_terminal/server/main.py after Spyder has started, I can connect to a terminal

**What steps will reproduce the problem?**

1. pip3 install --user spyder-terminal
2. Launch Spyder
3. Open terminal

**What is the expected output? What do you see instead?**
Should see a terminal, instead see:

[2017-05-30 20:33] ccordoba12 commented on #57
Thanks for reporting, I can confirm your bug.

@andfoy, we need to release version 0.1.2 this week to fix this problem.

[2017-06-01 15:02] rlaverde commented on #47
I think that @goanpeca was making reference to use this `spyder.widgets.browser.FrameWebView `https://github.com/spyder-ide/spyder/blob/master/spyder/widgets/browser.py#L290

[2017-06-21 23:52] andfoy commented on #57
Unfortunately, I cannot reproduce this error. @ccordoba12 could you please remove pipe redirection on [spyder_terminal/terminalplugin.py#L63](https://github.com/spyder-ide/spyder-terminal/blob/master/spyder_terminal/terminalplugin.py#L63) and see what's the output? :-)

[2017-06-22 00:07] ccordoba12 opened #59 "Don't start to create consoles until the server is up and running"
@andfoy, you can use this code to keep pinging the server until it's up (at least for 10 secs) and if not, report an error:

https://github.com/spyder-ide/spyder-notebook/blob/master/spyder_notebook/utils/nbopen.py#L65-L70

[2017-06-22 00:08] ccordoba12 commented on #57
Could you create a PR to make the server output to go to a file instead?

[2017-06-22 00:09] andfoy commented on #57
Great idea! I will do it

[2017-06-22 00:09] ccordoba12 commented on #57
Thanks!!

[2017-06-22 00:09] andfoy commented on #59
Should I report the error using a QMessageBox? Or though the console?

[2017-06-22 00:10] ccordoba12 commented on #59
A QMessageBox, as we do in `spyder-notebook`.

[2017-06-22 00:11] andfoy opened #60 "Redirect server output and errors to a file"

[2017-06-22 00:12] andfoy commented on #60
@ccordoba12 What should be the location for such files?

[2017-06-22 00:13] ccordoba12 commented on #60
Let's use the `cwd` for now.

[2017-06-22 00:49] goanpeca commented on #59
@ccordoba12 but the code you point to is blocking, it would be better to use a QTimer

[2017-06-22 01:04] andfoy commented on #59
So, should I use a QTimer?

[2017-06-22 02:25] andfoy opened #61 "Capture all keyboard events when a console is on focus"
Right now, some shortcuts are interfering with key presses aimed to the console. For instance, to exit ``htop`` we need to press ``F10``, however when that key is pressed, the shortcut that activates the code profiler is activated.

[2017-06-22 03:42] ccordoba12 commented on #59
Ok, please use a QTimer. We could what we're doing in the notebook then.

[2017-06-22 13:20] ccordoba12 commented on #61
That's because `F10` is a global shortcut. So #63 solves this?

[2017-06-22 17:18] andfoy commented on #61
Actually, we would like to capture all key input, which means that ``F1`` or any key combination will be grabbed by the actual selected console, the only exception is ``Ctrl+Shift+Alt+T``, which creates new tabs.

[2017-06-22 17:18] andfoy commented on #61
I think #63 is working

[2017-06-22 23:08] ccordoba12 commented on #61
Ok, please merge it then.

[2017-06-22 23:10] #61 closed

[2017-06-23 01:02] andfoy opened #64 "Add server tests"

[2017-06-23 17:05] #60 closed

[2017-06-27 19:39] #59 closed

[2017-06-27 20:04] ccordoba12 opened #67 "Release 0.1.2"
@andfoy, please release **0.1.2**. Important things to do:

1. Close this issue before creating our Changelog. An issue informing about a new release must be created every time so that the rest of the team knows about it.
2. Close the Github milestone before creating our Changelog so that it's created with the right date format.
3. Update our conda-forge feedstock.
4. Move conda-forge packages to

[2017-06-27 20:06] ccordoba12 commented on #67
Also, the new VERSION_INFO must be `0.2.0.dev0` because we're not going to release more 0.1.x releases.

[2017-06-27 20:26] #67 closed

[2017-06-27 20:54] ccordoba12 opened #69 "Make 0.2 to depend on Spyder 3.2"
This is so we can use check_compatibility, added in spyder-ide/spyder#4644.

Please see what I did in https://github.com/spyder-ide/spyder-notebook/pull/72/commits/6513d24431cf4d27e00fb0eea31260f38da4aa0c to make the corresponding changes.

[2017-06-27 20:56] ccordoba12 opened #70 "Use check_compatibility for PyQt4"
If users try to use this plugin with PyQt4 we need to show a message telling me that it only works in PyQt5.

[2017-06-27 20:59] ccordoba12 opened #71 "Tabify terminal next to the IPython console"
Since the Python console is gone in Spyder 3.2, we need to tabify the terminal next to the IPython console in 0.2.

This only consists in changing `extconsole` for `ipyconsole` in the method called `on_first_registration` of `TerminalPlugin`.

[2017-06-27 20:59] andfoy commented on #57
@avylove Could you please tell us if spyder-terminal v0.1.2 solves your problem?

[2017-06-27 21:28] avylove commented on #57
Seems to be fixed. Only thing I noticed was the clear that is issued after the initial cd doesn't seem to do anything. Actually, clear just doesn't seem to work. Not sure if that's an xterm.js bug or not.

[2017-06-27 23:59] andfoy commented on #57
@avylove Could you please post a screenshot?

[2017-06-28 03:39] ccordoba12 commented on #57
I think this is caused because we're trying to run commands in the console before the prompt is ready.

@andfoy, please open a new issue about it, so we don't forget to fix it in 0.2.

[2017-06-28 03:39] #57 closed

[2017-06-28 13:03] avylove opened #72 "clear command does not work"
The clear command does not seem to function. I'm not sure if this is a xterm.js bug or a spyder-terminal bug.

**What steps will reproduce the problem?**

1. Launch terminal

**What is the expected output? What do you see instead?**
￼
Expected:

[code]
Actual:
[code]
**Please provide any additional information below**
Neither clear nor reset commands seem to do anything. I tried changing the clear

[2017-06-28 14:40] ccordoba12 commented on #72
@avylove, thanks for opening the issue.

[2017-06-28 20:58] #70 closed

[2017-06-28 21:13] #71 closed

[2017-07-04 14:53] andfoy opened #76 "Copy and Paste shortcuts are disabled"

[2017-07-04 14:55] andfoy commented on #76
Now that we capture all keyboard inputs, is it possible to hardcode ``Ctrl+Shift+C/V`` to copy/paste text inside a terminal, this is the default shortcut on most Linux terminals @ccordoba12

[2017-07-04 14:55] #69 closed

[2017-07-04 14:56] ccordoba12 commented on #76
Sure, +1 from to this one.

[2017-07-04 15:03] goanpeca commented on #76
Is this also valid for other languages?

[2017-07-04 15:13] andfoy commented on #76
@goanpeca Are you referring to other terminals?

[2017-07-04 15:15] goanpeca commented on #76
No, I am referring to the case of French, German, Japanese, Chinese. Word/Office on different languages uses different shortcuts( Ctrl+S Ctrl+G for saving on english/Spanish), so I am asking if this could happen with terminals as well.

[2017-07-04 16:00] andfoy commented on #76
As ``Ctrl+C`` and ``Ctrl+V`` are language agnostic, we can assume that ``Ctrl+Shift+C/V`` are agnostic as well

[2017-07-04 16:01] andfoy commented on #76
We can't use ``Ctrl+C`` and ``Ctrl+V``, as they are keyboard escape sequences

[2017-07-04 16:02] andfoy opened #77 "Execute initial commands only if prompt is available"

[2017-07-04 21:42] #77 closed

[2017-07-04 21:43] andfoy commented on #72
@avylove Does PR #78 fixes your problem?

[2017-07-05 00:30] andfoy opened #79 "Bold font may not be activated on new terminals"
According to [xterm.js#157](https://github.com/sourcelair/xterm.js/issues/157), bold fonts are disabled if the ``isBoldBroken`` function determines if the current font has no bold variant. Right now it seems that our fallback font, ``ubuntu-powerline`` is not loading its bold variant, therefore, bold fonts are disabled by default, even if the font is changed via Qt.

We should bundle plain Ubuntu

[2017-07-05 01:01] #79 closed

[2017-07-05 02:13] andfoy opened #81 "Selection is broken as of xterm.js v2.7.0"
According to [xterm.js#670](https://github.com/sourcelair/xterm.js/pull/670), selection is now managed by xterm instead of the browser, which may imply that we must redirect mouse input to xterm.js events as of 2.7.0.

[2017-07-05 02:15] andfoy commented on #81
Related issue: [xterm.js#758](https://github.com/sourcelair/xterm.js/issues/758)

[2017-07-05 12:55] avylove commented on #72
It doesn't seem to. Both this version and the original one work fine when launched outside of Spyder, but don't work both during initialization and if I open additional terminals once Spyder is up.

[2017-07-05 15:57] andfoy commented on #81
We must update our xterm.js sources to the last version.

[2017-07-05 18:31] #81 closed

[2017-07-05 20:57] #76 closed

[2017-07-05 21:08] andfoy commented on #72
Does the console output keeps the same?

[2017-07-05 21:09] avylove commented on #72
Yes, same output.

[2017-07-05 21:10] ccordoba12 commented on #72
No, the idea is to clean all console output and leave only a single
prompt on it. That's how %clear works on Linux/Mac, but does not on Windows.

El 05/07/17 a las 16:08, Edgar Andrés Margffoy Tuay escribió:

[2017-07-05 22:08] andfoy commented on #72
Does this happens only with the first console, or does it also happens with new terminal tabs?

[2017-07-05 22:09] avylove commented on #72
New terminal tabs as well

[2017-07-06 00:25] andfoy opened #83 "Enable AppVeyor CI for Windows testing"

[2017-07-06 22:23] #22 closed

[2017-07-06 22:23] #83 closed

[2017-07-06 22:25] ccordoba12 commented on #64
@andfoy, do you plan to address this in 0.2 or prefer to leave it for 0.2.1?

[2017-07-06 22:28] andfoy commented on #64
I'd rather to do it on 0.2.1

[2017-07-06 22:32] ccordoba12 commented on #64
Sure, no problem ;-)

[2017-07-07 01:20] andfoy opened #84 "Release 0.2"

[2017-07-07 01:29] andfoy commented on #84
@ccordoba12 Should 0.2 be released after Spyder 3.2 release?

[2017-07-07 01:30] ccordoba12 commented on #84
Yes. Right now I'm also working on a couple of PRs with installation fixes and minor UI improvements for spyder-terminal.

[2017-07-07 01:34] andfoy opened #85 "Update package dependencies on Windows"
Windows version now depends on ``pywinpty``. Also, Universal Wheel creation must be disabled on ``MANIFEST.in``

[2017-07-07 01:44] ccordoba12 commented on #85
Yep, working on it right now :-)

[2017-07-07 01:54] andfoy commented on #85
Thanks! :-)

[2017-07-07 02:29] ccordoba12 commented on #2
I'm working on this one too.

[2017-07-07 03:14] #85 closed

[2017-07-07 04:58] ccordoba12 commented on #2
I removed this issue from 0.2 because it can only be solved after we release it :-)

So everything is ready to release 0.2, after Spyder 3.2 is released.

[2017-07-07 05:14] ccordoba12 commented on #84
Note: Don't forget to update version in setup.py from `3.2.0.dev0` to `3.2`

[2017-07-11 00:48] #64 closed

[2017-07-15 00:08] ccordoba12 commented on #84
@andfoy, I plan to release 0.2 tomorrow, during the SciPy sprints.

So I have two questions for you:

1. Can you be around tomorrow morning to do the release along with you?
2. Did you upload the `pywinpty` wheels to PyPi already?

[2017-07-15 00:17] andfoy commented on #84
1. Yes, I'll available during the morning, at what time you'll release 0.2?
2. No, I haven't upload them yet.

[2017-07-15 02:13] ccordoba12 commented on #84
1. Please be between 10 and 12 on Flowdock. I'll be there too, but I have to release Spyder 3.2 first.
2. Tomorrow, while I'm releasing 3.2, please do the same for pywinpty, so that afterwards we can release 0.2.

[2017-07-15 18:19] andfoy opened #90 "Windows: Close websocket when a console is closed manually"
For instance, when an user executes the command ``exit`` on a Windows CMD/Powershell console, it should present the same behaviour as on UNIX consoles. i.e., Websocket is closed and the message ``Pipe closed`` should be displayed.

[2017-07-15 18:20] andfoy commented on #90
For this, we depend on version 0.1.2 of pywinpty

[2017-07-15 20:45] eliot1785 opened #92 "Package missing in current win-64 channels"
## Description of your problem

**What steps will reproduce the problem?**

Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\myname>conda install spyder_terminal -c spyder-ide
Fetching package metadata ...............

PackageNotFoundError: Package missing in current win-64 channels:
  - spyder_terminal

**What is the expected output? W

[2017-07-15 20:57] #90 closed

[2017-07-15 20:57] andfoy commented on #92
@eliot1785 Sorry, we haven't published our conda packages yet, they will be available on the coming days

[2017-07-15 20:58] andfoy commented on #92
But you can install pywinpty via conda and install spyder-terminal from sources

[2017-07-15 21:09] andfoy commented on #92
``conda install pywinpty -c spyder-ide``

[2017-07-17 19:53] #72 closed

[2017-07-17 19:57] andfoy commented on #72
@avylove Does PR #93 fixes your problem?

[2017-07-17 20:57] avylove commented on #72
Well I have mixed news. Turns out the issue must have been in Spyder because I don't have the issue with 0.1.2 when I bootstrap Spyder 3.x. Wish I had thought to do that before. I found this out because I installed the spyder-terminal master branch and didn't have the spyder-terminal plugin available in Spyder, so I thought maybe there was a dependency on the latest. Well it didn't work there eith

[2017-07-17 21:13] andfoy commented on #72
Have you tried to open an internal console and see if there is some output there?

[2017-07-17 21:26] avylove commented on #72
First thing I tried. Nothing there.

[2017-07-17 21:27] andfoy commented on #72
How did you installed the plugin?

[2017-07-17 21:37] andfoy commented on #72
Is the plugin visible? Sometimes the plugin might be not be shown because its visibility is disabled

[2017-07-17 21:52] avylove commented on #72
It wasn't visible or on the panes menu. I just realized I was using your fork instead of the master branch. Trying with the master branch now and having issues with bower not being in the path. Installing with pip. Added --no-deps because it was failing with the Spyder version. Spyder isn't installed, just launching with bootstap script.

[code]

Is there a better way to go about this?

[2017-07-17 21:54] andfoy commented on #72
Well, to install bower, you just need to execute:
[code]

[2017-07-17 22:04] andfoy commented on #72
I would prefer to emit the following commands:
[code]

[2017-07-17 22:10] avylove commented on #72
Well I don't install things globally that aren't in rpms, but I did run:
[code]
Then I added ~/node_modules/.bin to my PATH. It installed and everything looks fine with spyder-terminal@master and spyder@3.x.

[2017-07-17 22:13] andfoy commented on #72
@avylove Great to hear that is working!

[2017-07-17 22:14] andfoy commented on #72
Release v0.2 of spyder-terminal will come on the following days

[2017-07-24 16:39] #84 closed

[2017-07-24 17:02] andfoy commented on #2
@ccordoba12 I think we're ready to upload our conda-build recipe

[2017-07-24 19:54] ccordoba12 commented on #2
Yes, I think so too. I'll submit a PR against staged-recipes in a couple of days.

Thanks for releasing 0.2.0, by the way ;-)

[2017-07-24 19:58] andfoy commented on #2
@ccordoba12 Thanks for the recipe!

[2017-07-25 17:41] andfoy opened #95 "Close automatically a Terminal tab if it was closed from the process itself"
Right now, if ``exit`` or Ctrl+D is executed to finish a terminal process, we output the message ``Pipe closed`` and the tab remains open. We would like to override this behaviour by closing the tab when the process is finished.

[2017-07-25 19:20] ccordoba12 commented on #95
Good idea!

[2017-07-26 13:05] andfoy opened #96 "TypeError: 'Icon' object is not callable"
_From @wlsdnen on July 26, 2017 12:59_

## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "c:\users\jjw\appdata\local\programs\python\python35\lib\site-packages\spyder_terminal\terminalplugin.py", line 156, in __wait_server_to_start
    QMessageBox.Ok)
TypeErro

[2017-07-26 13:05] andfoy opened #97 "TypeError: 'Icon' object is not callable"
_From @wlsdnen on July 26, 2017 12:59_

## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "c:\users\jjw\appdata\local\programs\python\python35\lib\site-packages\spyder_terminal\terminalplugin.py", line 156, in __wait_server_to_start
    QMessageBox.Ok)
TypeErro

[2017-07-26 13:05] andfoy commented on #97
This issue was moved to spyder-ide/spyder-terminal#96

[2017-07-26 13:06] #97 closed

[2017-07-28 18:34] #95 closed

[2017-07-28 18:34] #96 closed

[2017-07-28 18:35] andfoy opened #99 "Prevent tests to get stuck on AppVeyor"

[2017-07-28 22:13] andfoy commented on #96
@wlsdnen Does our latest master revision fixes your problem?

[2017-07-30 06:16] stonebig opened #101 "Error on a slow start"
## Description of your problem

**What steps will reproduce the problem?**

1. start spyder on a new winpython on a slow PC
2. I get this error:
![spyder-terminal_slow_start](https://user-images.githubusercontent.com/4312421/28751097-a2e082ac-74fe-11e7-920f-fd0746ea8e72.PNG)

3. then the Terminal is just a black window and a blinking cursor. starting new Terminal didn't provide a working Terminal

[2017-07-30 14:49] ccordoba12 commented on #101
I don't know if we could do something about it.

@andfoy?

[2017-07-30 15:20] andfoy commented on #101
This is actually a winpty failure report

[2017-07-30 16:04] andfoy commented on #101
@stonebig, could you please post the contents of the spyder_terminal_err.log and out files?

[2017-07-30 17:20] stonebig commented on #101
well, I don't find any "spyder_terminal_err.log".

[2017-07-30 17:22] ccordoba12 commented on #101
You need to set in a terminal this environment variable:

    SPYDER_DEV=True

then start Spyder from that terminal.

[2017-07-30 17:35] stonebig commented on #101
ok,  I tried, but failed to reproduce the error so far.

[2017-07-30 17:48] stonebig commented on #101
tries to activate a new terminal fail:
![blac_terminal_2](https://user-images.githubusercontent.com/4312421/28755650-fdf85be0-755f-11e7-9d86-06e26ac31ab7.PNG)

[2017-07-30 17:48] andfoy commented on #101
It seems that for some reason the terminal size got values lesser or equal than zero. Is it working now @stonebig?

[2017-07-30 17:49] andfoy commented on #101
The server is down according to your screenshot, can we observe the log file once again?

[2017-07-30 17:50] stonebig commented on #101
no, I would have to restart spyder. by the way I can't relaunch a spyder-notebook either.

log file didn't change, trying to see if it improves by closing spyder

[2017-07-31 16:09] andfoy commented on #101
@stonebig How much memory do you have on that PC?

[2017-07-31 16:20] andfoy opened #102 "Adapt close functionallity on Qt WebEngine"
PR #98 can't be used on WebEngine due to an unspecified JS ReferenceError (Maybe JS are not loaded completely) which causes to open and close terminal tabs before they are loaded. I think this must be addressed by means of a [QWebChannel](http://doc.qt.io/qt-5/qwebchannel.html)

[2017-07-31 16:23] #99 closed

[2017-08-01 00:13] #102 closed

[2017-08-03 03:00] wlsdnen commented on #96
@andfoy no.. still not fixed.

is there any dependency i missed?

-----------------------------------------------------

alabaster (0.7.10)
astroid (1.5.3)
Babel (2.4.0)
backports.weakref (1.0rc1)
bleach (1.5.0)
certifi (2017.7.27.1)
chardet (3.0.4)
colorama (0.3.9)
coloredlogs (7.1)
cycler (0.10.0)
Cython (0.26)
decorator (4.1.2)
docutils (0.13.1)
entrypoints (0.2.3)
html5lib (0.9999999)
humanfri

[2017-08-03 03:10] andfoy commented on #96
Is the same error as before?

[2017-08-03 03:27] wlsdnen commented on #96
@andfoy yes. same as before.

line 156, in __wait_server_to_start QMessageBox.Ok
TypeError: 'Icon' object is not callable

[2017-08-03 03:41] andfoy commented on #96
Did you install from our master branch?

[2017-08-03 03:49] wlsdnen commented on #96
![2017-08-03](https://user-images.githubusercontent.com/9081521/28905107-06608d74-784a-11e7-8072-cb046dc1d465.png)

ah, i re-installed using master branch and got this error message.

[2017-08-03 04:14] andfoy commented on #96
At last! Can you please start Spyder on DEV mode by exporting ```SPYDER_DEV``` variable and starting Spyder on a system console?

[2017-08-03 04:45] wlsdnen commented on #96
could you explain how to start dev mode?  ;;;

[2017-08-03 05:00] andfoy commented on #96
You just need to open a system console, i.e., cmd.exe. Then you need to export the following environment variable:

[code]

[2017-08-03 05:15] wlsdnen commented on #96
![2017-08-03 2](https://user-images.githubusercontent.com/9081521/28906915-fe5b72a4-7855-11e7-9da3-5eb8b71cb027.png)

i did as you told me, but got the same error message as before.

[2017-08-03 17:47] andfoy commented on #96
After closing Spyder, you should be able to open the files mentioned on the error message

[2017-08-06 07:23] stonebig commented on #101
hi @andfoy ,

This pc is a win10-64 bit, intel core Duo cpu P7450, 4go Ram, spinning disk occupied at 90%,

When I launch spyder, I suppose that more than 50% of the time is spent per the anti-virus.

It's ram/cpu/disk outdated, advantage being that what works on it works everywhere.

small question : how will co-exist spyder-terminal and win-tornado-terminals ?

[2017-08-07 09:13] wlsdnen commented on #96
i cannot find the files after exit the spyder.
i guess the dev mode did not turn on.
any other method to run dev mode?

[2017-08-07 14:48] andfoy commented on #96
Sorry, the value of the variable should be True instead of 1:

[code]

[2017-08-08 02:29] wlsdnen commented on #96
No.. still not working.
i tried
SPYDER_DEV=True
SPYDER_DEV=true
SPYDER_DEV='True'
SPYDER_DEV=1 (also 2, 3)

could not find the files.

![111](https://user-images.githubusercontent.com/9081521/29053750-cd3fba7e-7c2c-11e7-9b3c-ce824b771624.PNG)
![2017-08-08](https://user-images.githubusercontent.com/9081521/29053757-d6cf5ea0-7c2c-11e7-9ae5-5f8bd2772fe8.png)

[2017-08-08 02:35] wlsdnen commented on #96
i could found some files in 'C:\Users\jjw\AppData\Local\Spyder\cache\QtWebEngine\Default\Cache'
would it help?
![image](https://user-images.githubusercontent.com/9081521/29053882-86da5e4e-7c2d-11e7-8456-2344b62895ce.png)

[2017-08-08 07:16] wlsdnen commented on #96
i reinstalled spyder-ide from git and  saved log files successfully.

1. for the first time,
spyder_terminal_err.log
##############################################################################################
Traceback (most recent call last):
  File "C:\Users\jjw\AppData\Local\Programs\Python\Python35\lib\site-packages\spyder_terminal-0.2.1.dev0-py3.5.egg\spyder_terminal\server\main.py", line

[2017-08-08 13:04] andfoy commented on #96
@wlsdnen, could you please open a new issue with these errors so I can take a more carefully look?

[2017-08-08 19:44] andfoy commented on #101
@stonebig win-tornado-terminals is a fork of spyder-terminal that operates only on Windows. I guess it will be compatible with the Jupyter Notebook/Jupyterlab framework

[2017-08-09 01:01] andfoy commented on #101
@stonebig Does PR #106 fixes your problem?

[2017-08-09 07:23] stonebig commented on #101
Hi @andfoy , the error didn't appear at this morning slow-start try.

Yet it didn't appeared since a week (maybe I did a super-extra slow start that day, or other fixes did help).

the fix won't arm in any case. please merge

[2017-08-09 13:41] andfoy commented on #101
@stonebig I'm glad to hear that the error does not appear anymore, however, does Spyder-terminal works under that setup?

[2017-08-09 17:44] stonebig commented on #101
yes, I just forgot to mention it.

[2017-08-10 02:02] #101 closed

[2017-08-15 19:35] andfoy opened #107 "Release 0.2.1"

[2017-08-15 20:37] ccordoba12 commented on #107
What's this release going to fix?

[2017-08-15 20:43] andfoy commented on #107
It's going to fix resize issues that prevent consoles from starting, it will also fix a typo error that prevented the MessageBox to show properly. Finally it closes terminals automatically if they were closed manually from the process itself

[2017-08-22 18:25] #107 closed

[2017-08-22 18:43] andfoy opened #108 "Add terminal color schemes"
Terminal color schemes should match those of the editor and of the IPython console. I don't know if users should be able to change individually the Terminal color scheme, or if we should follow the behaviour of the IPython console. Any ideas @ccordoba12 @goanpeca ?

[2017-08-22 18:46] goanpeca commented on #108
Lets homogenize all the themes in all widgets.

[2017-08-22 18:46] ccordoba12 commented on #108
The idea is have (eventually) a single color scheme for the entire application. Making the IPython console to follow the Editor was the first step.

So please use the text and background colors of the Editor here too.

[2017-08-23 00:43] andfoy opened #110 "Pywinpty v0.2.0 isalive call closes terminals without any notification"
We should verify if a console is alive only if output has been received before.

[2017-08-23 02:55] andfoy commented on #110
This is due to several bugs found on pywinpty v0.2, they are to be fixed on v0.2.1

[2017-08-23 02:55] #110 closed

[2017-08-25 15:30] ccordoba12 opened #112 "Release 0.2.2"
The tarball of 0.2.1 was missing server components and without them we are unable to build conda packages. PR #111 is going to fix this.

[2017-08-25 16:57] #112 closed

[2017-08-28 13:53] andfoy commented on #92
Windows packages are now available at: https://anaconda.org/spyder-ide/spyder-terminal

[2017-08-28 13:53] #92 closed

[2017-08-28 13:54] andfoy commented on #2
After a long way, we finally got to publish our package on conda! https://anaconda.org/spyder-ide/spyder-terminal

[2017-08-28 13:54] #2 closed

[2017-10-03 15:02] ccordoba12 opened #114 "AttributeError: 'QWebEngineProfile' object has no attribute 'clearHttpCache'"
@bhmit commented on [Tue Oct 03 2017](https://github.com/spyder-ide/spyder/issues/5382)

## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/anaconda/lib/python3.6/site-packages/spyder_terminal/terminalplugin.py", line 165, in __wait_server_to_start
    self.cr

[2017-10-03 15:02] ccordoba12 commented on #114
@andfoy, please take a look at this one.

[2017-10-03 15:21] andfoy commented on #114
It seems that QWebEngineProfile.clearHttpCache was introduced after Qt 5.7. We should clear the caché on QWebEngine instances only if the version is later than 5.7

[2017-10-03 15:24] andfoy commented on #114
@ccordoba12, does Qt 5.6.2 has QWebEngine?

[2017-10-03 15:32] ccordoba12 commented on #114
Not the Anaconda version. It comes with Webkit.

But instead of using the Qt version, you need to rely on the WEBENGINE
constant of qtpy instead.

El 03/10/17 a las 10:24, Edgar Andrés Margffoy Tuay escribió:

[2017-10-03 15:38] andfoy commented on #114
@ccordoba12 that's the current behaviour

[2017-10-03 15:57] ccordoba12 commented on #114
Weird... Then please add a try/except to catch this error.

El 03/10/17 a las 10:38, Edgar Andrés Margffoy Tuay escribió:

[2017-10-04 07:02] jxrossel opened #115 "Terminal server could not be located"
## Description of your problem

When starting spyder, I get an error message with "Terminal server could not be located (...)" and something about starting spyder in debugging mode (which I don't know how to do).

**What steps will reproduce the problem?**

1. starting spyder
2.
3.

**What is the expected output? What do you see instead?**
error message and no terminal in the consoles

**Please pr

[2017-10-04 18:55] bhmit commented on #114
I install a Spyder Plugin for displaying a virtual terminal called
Spyder-terminal so when I run the Spyder IDE the error message emerged, and the visual Terminal appear in the editor, but it's blocked

[2017-10-04 20:22] andfoy commented on #115
Hi @jxrossel, to start Spyder on debugging mode you must need to set the ``SPYDER_DEV`` variable, as it follows, the following commands must be executed from a system terminal, which corresponds to ``cmd.exe`` on Windows:

[code]
After the execution, the file ``spyder_terminal_err.log`` must appear on your current working directory, which is this case must be the directory of the current terminal.

[2017-10-05 08:25] jxrossel commented on #115
Hi, when starting spyder like that, I first had another error message "The Jupyter Notebook server failed to start..." and then the same message as above. The error log doesn't seem very helpful:

[code]

I then tried to open a new terminal in spyder, and the error log became:

[code]

The prompt in the terminal doesn't respond though

[2017-10-05 11:56] andfoy commented on #115
@jxrossel, it seems that you're using an old version of pywinpty. Please update it and try again, v0.2.1 had some major issues due to the migration from pywin32 to ctype calls.

[code]

Also, I invite you to open an issue on spyder-notebook if you have errors related to it.

[2017-10-05 12:20] andfoy commented on #115
@jxrossel, can you open a browser tab on the server URL, as shown on the log file? On this case, 127.0.0.1:8071? Does a terminal appears there?

Also, I invite you to open an issue on spyder-notebook if you have notebook-related issues.

[2017-10-05 12:21] jxrossel commented on #115
Thanks for the answer, but pywinpty v0.2.1 is the last available version on pypi and its the one I have, so I can't update it...

I've stopped doing blind upgrades (with -U) since it tends to break installations (typically when upgrading a package which depends on the upgrade of another compiled package whose compilation fails...). Usually, I do a 2-step upgrade (with -U --no-deps first, then a si

[2017-10-05 12:26] jxrossel commented on #115
... and I've checked the 127.0.0.1:8071 in my browser after opening Spyder. Nothing is shown on that page, but the tab title "OS Web terminal" is displayed (better than nothing, I guess!)

[2017-10-05 12:27] andfoy commented on #115
@jxrossel Is there any message on the developer Web console?

[2017-10-05 12:33] jxrossel commented on #115
[code]

[2017-10-05 12:38] andfoy commented on #115
@jxrossel Can you test if pywinpty is working as expected? Please post the output of the following commands (From a Python prompt):

[code]

[2017-10-05 12:42] jxrossel commented on #115
`process.spawn(r'C:\windows\system32\cmd.exe')
`--> True

[code]

[2017-10-05 12:47] andfoy commented on #115
@jxrossel Finally an error! Let me check, it seems that this belongs to pywinpty rather than spyder-terminal. However, let me investigate more about it, this is the first instance of such issue.

[2017-10-05 12:48] #115 closed

[2017-10-05 12:49] andfoy commented on #115
Issue moved to [spyder-ide/pywinpty #59](https://github.com/spyder-ide/pywinpty/issues/59) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-10 18:54] dalthviz opened #116 "Changes for compatibility with new undocking behavior of Spyder"
As discussed in Spyder [PR #3824](https://github.com/spyder-ide/spyder/pull/3824)

[2017-10-11 16:55] #114 closed

[2017-10-11 16:55] andfoy opened #118 "Release v0.2.3"

[2017-10-11 19:06] dinhe878 commented on #118
Thanks! But for some reason I cannot update to v0.2.3 from v0.2.2 via conda. I also try to uninstall and reinstall but the version still remains v0.2.2. Help?

[2017-10-11 20:20] andfoy commented on #118
@dinhe878 Sorry, but conda packages are being built right now. Please be patient until they are available.

[2017-10-11 20:26] dinhe878 commented on #118
Thanks!

[2017-10-11 20:37] goanpeca commented on #118
@andfoy [this one](https://github.com/conda-forge/spyder-terminal-feedstock/pull/4) didi ti failed?

[2017-10-11 21:43] Mvanti opened #119 "Spyder not responding after installing spyder-terminal"
## Description of your problem

**What steps will reproduce the problem?**

1.installing spyder-terminal
2.spyder doesn't  connect to the kernel and  freezes
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Versions and main components

* Terminal Version:0.2.3
* Spyder Version:3.2.3
* Python Version:3.6
* Operating system:windo

[2017-10-11 22:20] ccordoba12 commented on #119
Could you post a screenshot of how Spyder looks after installing spyder-terminal?

[2017-10-11 22:22] andfoy commented on #118
@dinhe878 Linux and Windows packages are now available at our anaconda channel. Mac OSX build queue is taking too long.

[2017-10-11 22:23] andfoy commented on #118
@goanpeca It didn't fail, I merged it without waiting for the CI build.

[2017-10-11 22:23] #118 closed

[2017-10-11 22:25] goanpeca commented on #118
Better to not do that next time, cause maybe some errors can occur

[2017-10-27 10:25] andfoy commented on #119
@Mvanti Do you have any error message/trace printed on the internal console?

[2017-10-27 12:59] Mvanti commented on #119
Nope, I have not been able to install the terminal yet. Spyder hangs after the kernel connection starts.

[2017-10-27 13:28] andfoy commented on #119
What's your Qt version?

[2017-10-27 18:12] Mvanti commented on #119
Qt5

[2017-10-31 18:37] ghisvail opened #120 "Use of non-free Ubuntu fonts"
`spyder-terminal` uses the Ubuntu font family which is licensed under the Ubuntu Font License. The latter was considered non-free after review by [Debian](https://bugs.launchpad.net/ubuntu-font-licence/+bug/769874) and [Fedora](https://bugzilla.redhat.com/show_bug.cgi?id=961642#c4), and is therefore not suitable for Linux distributions.

Would you consider using an alternative font family which do

[2017-10-31 19:29] ccordoba12 commented on #120
I think FontAwesome is not a character font, isn't it?

[2017-10-31 19:53] andfoy commented on #120
@ccordoba12 @ghisvail We could actually switch over to Liberation Mono or some other free font, I didn't know that Ubuntu Fonts had licensing problems

[2017-10-31 19:54] andfoy commented on #120
Actually, we're packing Ubuntu fonts only as a working fallback if the user defined mono font is unavailable or the server is running on a Web Browser (Outside Spyder)

[2017-11-24 20:26] Isaacsh opened #121 "Terminal hangs in Windows"
## Description of your problem
Terminal freezes and does not let to start typing.
**What steps will reproduce the problem?**

1. Close Spyder
2. Install with `conda install spyder-terminal -c spyder-ide`
3. Re-open Spyder, then click on 'Terminal' right next to IPython console

**What is the expected output? What do you see instead?**
Let me start typing but it's frozen

**Please provide any addit

[2017-11-24 20:32] andfoy commented on #121
@Isaacsh What happens if you open a new tab?

[2017-11-24 20:53] Isaacsh commented on #121
Same thing unfortunately!

![image](https://user-images.githubusercontent.com/7535009/33223667-9299b124-d12f-11e7-8e20-d2be23a4a0d6.png)

[2017-11-24 21:22] andfoy commented on #121
@Isaacsh Please open a browser and go to http://localhost:8071 (If it does not work, try with port 8072 and so on)

[2017-11-24 21:33] Isaacsh commented on #121
Didn't work for hosts 8071 to 8075

![image](https://user-images.githubusercontent.com/7535009/33224239-39b29066-d135-11e7-976f-e891ff56205f.png)

[2017-11-24 23:01] andfoy commented on #121
@Isaacsh Could you please start Spyder on DEV_MODE? You just need to execute this from CMD/Anaconda Prompt/WinPython Prompt:

[code]
After Spyder opens and closes, you should have access to the file ``spyder_terminal_err.log``. Please post the contents of such file here

[2017-11-24 23:10] andfoy opened #122 "Use Terminado as backend server"
Now that @blink1073 has extended Terminado to use pywinpty with the newest high level API, I think we can use that server instead of our own in-house server based on pywinpty's low level API.

What do you think @ccordoba12 ?

[2017-11-24 23:26] Isaacsh commented on #121
@andfoy There you go.

[spyder_terminal_err.log](https://github.com/spyder-ide/spyder-terminal/files/1502676/spyder_terminal_err.log)

[2017-11-25 05:43] ccordoba12 commented on #122
Sure, I think it's better to dependon Terminado instead of our own server.

[2017-11-25 10:25] andfoy commented on #121
@Isaacsh Which is your pywinpty library version?

[2017-11-25 15:15] Isaacsh commented on #121
@andfoy It is 0.3.

[2017-11-25 16:38] andfoy commented on #121
@Isaacsh Try to update to latest version of pywinpty and try once again

[2017-11-25 17:00] Isaacsh commented on #121
@andfoy I think it's the latest version that are compatible with all other packages.

![image](https://user-images.githubusercontent.com/7535009/33232644-b05e02c0-d1d7-11e7-9cf0-75e7c0998726.png)

You want me to **force** install to the latest version: `conda install pywinpty=0.4.1 --force`?

[2017-11-25 17:03] goanpeca commented on #121
@Isaacsh could you provide the output of:

[code]

[2017-11-25 17:09] Isaacsh commented on #121
@goanpeca Sure, here you go.

[info.txt](https://github.com/spyder-ide/spyder-terminal/files/1503257/info.txt)
[list.txt](https://github.com/spyder-ide/spyder-terminal/files/1503258/list.txt)

[2017-11-25 18:08] andfoy commented on #121
@Isaacsh What happens if you run the following instructions on an interpreter:

[code]

[2017-11-25 18:16] Isaacsh commented on #121
@andfoy , it goes fine until `process.read()`

![image](https://user-images.githubusercontent.com/7535009/33233331-bb0c8f6a-d1e2-11e7-9f60-d4ed4d77d6af.png)

[2017-11-25 18:26] andfoy commented on #121
It seems it's a duplicate of https://github.com/spyder-ide/pywinpty/issues/59

[2017-11-25 18:29] andfoy commented on #121
@Isaacsh This an error related to the Python 3.6 header files on some x64 builds. Right now, we don't know how to correct this. Please see this SO answer to get more information: https://stackoverflow.com/a/33285993/1143629

[2017-11-25 18:31] andfoy commented on #121
Here is the corresponding issue ticket on Python bug tracker: https://bugs.python.org/issue20160

[2017-11-28 19:14] Isaacsh commented on #121
Thanks @andfoy . This didn't show up in python 3.5 per my recent test.

[2017-11-28 20:25] #121 closed

[2017-12-01 21:34] ccordoba12 opened #123 "AttributeError: 'NoneType' object has no attribute 'close'"
@kotan1 commented on [Fri Dec 01 2017](https://github.com/spyder-ide/spyder/issues/5873)

## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\bin\Anaconda3\lib\site-packages\spyder_terminal\terminalplugin.py", line 317, in <lambda>
    term.terminal_closed.co

[2017-12-01 21:35] ccordoba12 commented on #123
@kotan1, what's your `spyder-terminal` version?

[2017-12-24 18:17] dcasasor opened #124 "Compatibility check: This plugin does not work with Qt 4"
## Description of your problem

I installed spyder-terminal and got the message shown in the title of this issue when starting Spyder.

**What steps will reproduce the problem?**

1. Install spyder-terminal with pip (sudo pip install spyder-terminal)
2. Open Spyder
3. Get the message

**What is the expected output? What do you see instead?**

The expected output is a third tab at the right hand si

[2017-12-24 22:30] ccordoba12 commented on #124
You need to use pyqt5 and python 3 to use spyder-terminal. There is nothing else we can do to change that.

[2017-12-24 22:30] #124 closed

[2017-12-31 14:40] ccordoba12 opened #125 "spyder_terminal problems"
@joewells2017 commented on [Sun Dec 31 2017](https://github.com/spyder-ide/spyder/issues/6102)

## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\hp\Anaconda3\envs\py35\lib\site-packages\spyder_terminal\terminalplugin.py", line 317, in <lambda>
    te

[2017-12-31 14:41] ccordoba12 commented on #125
@joewells2017, what's your spyder-terminal version?

[2018-01-04 11:53] CAM-Gerlach commented on #123
See [#6128](https://github.com/spyder-ide/spyder/issues/6128) on the Spyder repo for a more detailed user report.

[2018-01-04 11:53] CAM-Gerlach commented on #125
See [#6128](https://github.com/spyder-ide/spyder/issues/6128) on the Spyder repo for a more detailed user report.

[2018-01-04 16:29] ccordoba12 commented on #125
Closing this one as a duplicate of #123.

[2018-01-04 16:29] #125 closed

[2018-01-06 11:00] stonebig opened #126 "xterm 3.0 (switched from DOM to canvas)"
Hi all,

I notice a new much more speedy version of Xterm is out, with a motor change
Will it break spyder-Terminal ?
If not, could you consider using it (given the claimed speed-up) ?

https://github.com/jupyterlab/jupyterlab/issues/3549

[2018-01-06 18:55] ccordoba12 commented on #126
@andfoy, do you have time to look into this?

[2018-01-07 18:43] andfoy commented on #126
@stonebig Thanks for the notice! I'll try to take a look at it during the following weeks, surely before February

[2018-01-23 04:58] billysuyapmo opened #127 "Terminal Server could not be located"
## Description of your problem
When I start Spyder, I get an error message that my "Terminal server could  not be located at 127.0.0.1:8071 ......"
**What steps will reproduce the problem?**

1. Starting Spyder
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**
I have tried to use SPYDER_DEV and this is my spyder_terminal_err.log

[2018-01-23 15:07] betterze opened #128 "spyder not responding after installing spyder-terminal"
## Description of your problem

**What steps will reproduce the problem?**

1. win10, anaconda
2. install spyder-terminal
3. not responding when open spyder, stucking in connecting to kernel

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Versions and main components

* Terminal Version:0.2.3
* Spyder Version: 3.2.6-py36_0
* Pytho

[2018-01-23 15:15] ccordoba12 commented on #128
Sorry, we don't have the resources to maintain spyder-terminal right now. Please uninstall it and continue using Spyder as normal.

[2018-01-23 15:44] betterze commented on #128
Thank you for your reply, it is sad to hear that. Do you know other way that could allow me to use bash inside spyder? otherwise i have to switch to pycharm, it will take me a lot of time to get used to a new IDE. Thank you for your effort.

[2018-02-18 14:59] wwestlake opened #129 "terminal not usable"
## Description of your problem

**What steps will reproduce the problem?**

1. install terminal in Spyder 3.2.6
2. terminal shows up in pane
3. cannot type in terminal at all
4. selecting new terminal from the menu opens a new terminal briefly and then it closes

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Versions and main com

[2018-02-18 16:56] ccordoba12 commented on #129
What is your operating system?

[2018-02-19 14:44] wwestlake commented on #129
windows 10, not sure what terminal version it is, I used pip to install it.

[2018-02-19 14:47] ccordoba12 commented on #129
And what are Qt/PyQt versions?

[2018-02-19 15:01] wwestlake commented on #129
Qt 5 and PyQt 5.6.0, I am running Anaconda3 that I just installed and loading Spyder through Anaconda Navigator

[2018-02-27 14:49] h4k1m0u opened #130 "Black screen in Spyder-terminal when I launch Spyer"
## Description of your problem

**What steps will reproduce the problem?**

1. When I launch Spyder.

**What is the expected output? What do you see instead?**
At home on Windows 8, spyder-terminal worked correctly.

**Please provide any additional information below**
![Screenshot on Imgur](https://i.imgur.com/kBZfwSH.png)

## Versions and main components

* Terminal Version: 0.2.3
* Spyder Versio

[2018-02-27 14:59] stonebig commented on #130
it may be related to pywinpty, which has problem under windows 7:

https://github.com/spyder-ide/pywinpty/pull/90

problem is not solved.

[2018-02-27 15:02] ccordoba12 commented on #130
And it's unlikely to be solved (because we don't know why that error happens), sorry.

[2018-05-23 16:37] ccordoba12 opened #131 "Remove compatibility check for Windows and Python 2"
Now that pywinpty is available for that combination, there's no need of that check.

[2018-05-28 14:21] andfoy opened #132 "Add import check for pywinpty"

[2018-05-29 22:54] andfoy commented on #127
Superseded by #122

[2018-05-29 22:54] #127 closed

[2018-05-31 00:32] #131 closed

[2018-05-31 04:10] ccordoba12 commented on #123
I think this is caused by an error when opening a websocket before creating its corresponding terminal. So it could be fixed when we move to use Terminado.

[2018-05-31 04:11] ccordoba12 commented on #132
@andfoy, this is the last issue to solve before releasing 0.2.4.

[2018-05-31 18:37] andfoy commented on #130
@ccordoba12 Shall we close this one as part of #135 ?

[2018-05-31 18:38] andfoy commented on #128
Duplicate of #119

[2018-05-31 18:38] #128 closed

[2018-05-31 18:47] ccordoba12 commented on #130
Yes, please.

[2018-05-31 18:50] andfoy commented on #129
@ccordoba12 Should we close this one also? c.f. #135

[2018-05-31 18:50] andfoy commented on #119
@ccordoba12 Shall we close also this one?

[2018-05-31 19:08] ccordoba12 commented on #129
It doesn't seem like the same problem, but without more details, sure let's close it.

[2018-05-31 19:08] #129 closed

[2018-05-31 19:08] ccordoba12 commented on #119
Sure.

[2018-05-31 19:08] #119 closed

[2018-05-31 20:01] ccordoba12 opened #136 "Remove requirement on pexpect for Windows"
If understand things correctly, `pexpect` is not needed on Windows because that's what `pywintpy` is for. So we need to remove that requirement from setup.py, appveyor.yml and clarify our Readme.

[2018-05-31 20:10] andfoy commented on #136
@ccordoba12 However, pexpect will be removed once we migrate the server backend to terminado

[2018-05-31 20:12] andfoy opened #137 "Migrate JS dependencies to Yarn"
See https://github.com/bower/bower/issues/2298

[2018-05-31 20:13] andfoy opened #138 "Implement JS routines using ES6/JSX syntax"
We should use Babel transpiler to comply with modern JS standard specifications.
https://github.com/babel/babel

[2018-05-31 20:18] ccordoba12 commented on #136
Ok, but let's fix this mistake in 0.2.4 as well.

[2018-05-31 20:35] #130 closed

[2018-05-31 20:35] #132 closed

[2018-05-31 21:14] ccordoba12 opened #140 "Release 0.2.4"
After PR #139, I think everything is ready for a new release.

[2018-05-31 21:33] #136 closed

[2018-05-31 21:44] #140 closed

[2018-05-31 23:48] #137 closed

[2018-06-05 13:01] nedimm commented on #129
Hi, I have the same problem.

[2018-07-10 20:22] ccordoba12 opened #145 "pydoc -p5000 renders a link, but clicking it opens a terminal in default browser having standard user permissions and current login, but none of the xterm features"
@rebelclause commented on [Sat Jul 07 2018](https://github.com/spyder-ide/spyder/issues/7405)

### Issue Report Checklist

* [x ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its adv

[2018-07-10 20:23] ccordoba12 commented on #145
Unfortunately we don't the have resources right now to fix this, sorry.

[2018-08-13 00:10] Jwomers commented on #12
Hi @andfoy I run a vulnerability database at https://pyup.io - quick question, was this a vulnerability fix? Thanks!

[2018-09-27 17:06] Shivambansal97 commented on #130
I have a similar problem with spyder 3.3.1 with window 7.if you have fully functional spyder but you can't see the interface try to update the microsoft .net framework to 4.6 or higher.

[2018-10-03 17:36] adodell opened #146 "Python 3.7 build for Spyder Terminal"
I am curious if there will be a way to run Spyder Terminal plugin with Python 3.7? I cannot install this plugin since I'm using Py3.7, and I am sure this will cause more problems in the future when newer Python releases come out.

![image](https://user-images.githubusercontent.com/11433737/46428173-27fed000-c6f8-11e8-85ca-9cfc08a85d28.png)

Thanks!

[2018-10-03 19:17] ccordoba12 commented on #146
We have to wait until new pywinpty packages for 3.7 are available in conda-forge:

https://github.com/conda-forge/pywinpty-feedstock/pull/22

Please ping us in a couple of days if we haven't answered here until then.

[2018-10-08 19:16] macic385 commented on #130
Can somebody please fix this, i have the same issue............

[2018-10-09 02:03] andfoy commented on #146
@adodell we're currently experiencing some problems with our conda recipe build on conda-forge, we expect it to release in 3-days time maximum. Thanks for your patience
https://github.com/conda-forge/spyder-terminal-feedstock/pull/6#issuecomment-427980224

[2018-10-09 15:18] adodell commented on #146
@andfoy no worries, just wondering what was going on, love everything you guys do for the Spyder project

[2018-10-20 17:15] ccordoba12 commented on #146
Python 3.7 builds for our latest version (0.2.4) are now available in our channel.

[2018-10-20 17:15] #146 closed

[2018-11-21 12:38] danieltomasz opened #147 ""tput: No value for $TERM and no -T specified:""
## Description of your problem

**What steps will reproduce the problem?**

1. Install spyder-terminal on spyder 3.3.1
2. Click the terminal
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**
The terminal dont respond and give output: `tput: No value for $TERM and no -T specified:` , blank windows when opening new terminal. I am using

[2018-11-21 12:45] danieltomasz commented on #147
Ok! I manually edited terminal file & edited 'bash' to 'zsh',

[2018-11-21 14:48] ccordoba12 commented on #147
What happens if you use bash instead?

[2018-11-23 22:01] IDrei commented on #130
Did you solve the problem?

[2018-11-23 22:10] ccordoba12 commented on #130
This should be solved by updating to the latest pywinpty and spyder-terminal.

[2018-11-24 15:30] danieltomasz commented on #147
I think, i will need to change systemwide shell to check that, I check it maybe in the next few days

[2018-11-24 17:52] danieltomasz opened #148 "How to increase/decrease size of font in terminal?"
The standrad way (-/+) which I could use   for zooming  in main window of  Spyder editor doesn't work.
Also changing font  size in General spyder preferences doesn't seem to influence terminal.

[2018-11-24 20:52] IDrei commented on #130
It said that all available packages already installed.

This helped:
`conda install -c conda-forge pyhamcrest

python.exe -m pip install --upgrade pip`

[2019-05-20 12:52] termux-io commented on #22
[0430007367982a9fa48a1661b32a1d31e101a531](https://facebook.com/oscarforyhewin)

[2019-06-02 04:48] steff456 opened #149 "Spyder-terminal is not starting on spyder 4 beta 2"
## Description of your problem

Spyder-terminal plugin is not starting

**What steps will reproduce the problem?**

1. Install current spyder-terminal version
2. Run spyder

**What is the expected output? What do you see instead?**
The spyder-terminal client should start

## Versions and main components

* Terminal Version: 0.2.4
* Spyder Version: 4.0.0.dev0
* Python Version: 3.7
* Operating syste

[2019-06-04 03:57] #149 closed

[2019-06-29 11:55] manojbaishya commented on #121
I have been facing this issue after installing spyder-terminal with:
[code]

* Terminal Version: 0.2.4
* Spyder Version: 3.3.4
* Python Version: 3.7.2
* Operating system: Windows 8.1

Have tried the following with no luck:
[code]
Spyder freezes on normal startup from start menu and I have to end the process using the task manager. However setting this on a CMD:
[code]
and then starting Spyder make

[2019-08-08 01:20] jungx148 commented on #130
I am adding a question since it's not closed yet.

The same problem what h4k1m0u had (Terminal windows is blank as shown in the attached pic) is happening to me and the problem still exists even if I update the latest pywinpty and spyder-terminal.  Also, though I did two suggested updates as IDrei commented, it did not help.

I appreciate all help to solve this problem.

----
[Versions and main co

[2019-10-21 19:48] #126 closed

[2019-10-21 19:48] #138 closed

[2019-11-24 14:43] goanpeca opened #158 "Add correct localization handling"
To be able to correctly localize external plugins we need to use `get_translation` method and provide the module name like:

[code]

@ccordoba12 maybe we should add a module on the spyder api like or similar

[code]

[2019-11-24 14:50] goanpeca opened #159 "Test new localization scripts"
With the changes made to https://github.com/spyder-ide/gettext-helpers/

We should be able to use the scripts for more general purpose localization including external plugins.

After installing it, the process should go like:

[code]

Could you test this when you have some time @steff456 ?

[2019-11-24 20:29] ccordoba12 commented on #158
Sounds good to me.

[2019-12-06 23:57] goanpeca opened #161 "Some UI/UX improvements for 0.3.0"
Some comments regarding the terminal that could be addressed in a separate PR but I will list now:

- The panel button does not include the options `Undock`, `Close`
- The panel button looks different than the rest (it has a small arrow)
- It is a bit "weird" to have options for the cursor of the terminal but not for Spyder cursor on the editor itself or the consoles.
- The terminal widget is not

[2019-12-09 13:59] #159 closed

[2019-12-12 05:37] havefun-hh commented on #149
I have the same question.Can't find terminal plugin in spyder.

[2019-12-12 20:37] sefademirtas opened #164 "Spyder terminal does not activate conda environments and keeps asking to "conda init" even after initialization."
## Description of your problem
I use Spyder as part of the Anaconda distribution (which limits the version of Spyder to be 3.3.6). I used conda to install spyder-terminal. First problem is that when I fire up a new terminal window in Spyder, the base conda environment doesn't seem to have been activated with (base) prefix even though "which python" will return the correct path. Then when I try to

[2019-12-16 18:48] sefademirtas commented on #164
The previous title did not reflect the issue correctly, so I corrected it.

[2019-12-26 15:37] ccordoba12 commented on #161
The panel button looks different than the rest (it has a small arrow)

I'll take care of these two.

I don't know if it's possible to change this in the IPython console, but I wouldn't worry too much about it.

This is not working for the Help pane either, so we need to check why the blue outline is not appearing for web widgets. However, I don't see this as blocking for 0.3.0

Agreed. @steff456,

[2019-12-26 15:45] ccordoba12 commented on #161
Another improvement that would be nice to have for 0.3.0 is styling the scrollbar:

![Selección_070](https://user-images.githubusercontent.com/365293/71481607-941d9600-27cc-11ea-936b-d13ae76f6e05.png)

so that it looks like the one in the Help pane

![Selección_071](https://user-images.githubusercontent.com/365293/71481660-ca5b1580-27cc-11ea-97fa-1004b810681f.png)

@dalthviz, please help us with t

[2020-01-23 16:39] goanpeca opened #167 "Fix crowdin PR conflict"

[2020-01-23 16:45] #161 closed

[2020-01-24 01:45] #167 closed

[2020-01-24 04:42] ccordoba12 opened #168 "Change "terminal" to "consola" in Spanish translation"
In Spanish I decided to name the IPython console as "Terminal de IPython". Therefore I suggest to change "terminal" for "consola" in all places we use "terminal" in the Spanish translation of this plugin. That will avoid confusions between this one and the IPython console.

@steff456, please work on that through Crowdin.

[2020-01-24 04:52] #108 closed

[2020-01-24 04:53] ccordoba12 commented on #158
Is this already solved?

[2020-01-24 11:39] goanpeca commented on #158
Yep

[2020-01-24 11:39] #158 closed

[2020-01-26 20:28] #168 closed

[2020-02-11 18:50] ccordoba12 opened #176 "Update requirement to Spyder >=4.1.0 when released"
That version is necessary to apply color scheme changes on the fly in the terminal.

And this issue is here so we don't forget to do that once 4.1.0 is released.

[2020-03-17 00:09] sjgenco opened #177 "Command prompt shows wrong shell"
I just installed Spyder terminal w Spyder 4.0.1 inside my Anaconda3 environment on a MacBook Pro OS 10.15.3 (Catalina). I'd previously changed my default terminal shell to zsh, as instructed by Apple.
On opening the Terminal tab in Spyder, it seems to think it's using bash, but it's actually using zsh.

**What steps will reproduce the problem?**

On opening, I see this, as expected:
[code]

but if

[2020-03-17 00:38] goanpeca commented on #177
@steff456 please tale a look at this one

[2020-03-17 21:33] steff456 commented on #177
@sjgenco, you are able to change the default terminal shell under the preferences of spyder, `bash` is the predetermined option.

![image](https://user-images.githubusercontent.com/20992645/76903863-c4754d80-686c-11ea-898f-8c6a4b8b57b4.png)

You have to reset spyder to see the changes. Please let me know if it works for you.

[2020-03-17 22:44] sjgenco commented on #177
Thank you. That did work.
An additional wrinkle you might want to look at is the fact that I was
actually running the zsh shell already, but Spyder Terminal was showing the
bash prompt even though zsh, not bash, was my current shell. So that's
somewhat different problem than not knowing how to change the shell.
Thanks for the quick reply and solution!

On Tue, Mar 17, 2020 at 2:33 PM Stephannie Ji

[2020-03-17 22:47] goanpeca commented on #177
@steff456 we need to check the default shell im the system and adjust the configuration accordingly on startup.

[2020-03-18 00:09] steff456 commented on #177
We are not able to check the default shell in a direct form. However the user can configure the shell that they want to use.

[2020-03-18 01:29] goanpeca commented on #177
Yes there are ways to do this.

[2020-03-24 16:54] bnavigator opened #179 "test_terminal_resize assumes python command"
https://github.com/spyder-ide/spyder-terminal/blob/1797a86ee0f4e94627493b93440b5b99f15437a5/spyder_terminal/server/tests/test_server.py#L167

This line in test_terminal_resize() assumes there is a command in the path named `python`. This is not necessarily true for all installations. The packaging on OpenSUSE build service for example fails, because it only has `python3` by default. On other syste

[2020-03-24 17:10] bnavigator opened #180 "Declare DEV mode in tests using conftest.py"
https://github.com/spyder-ide/spyder-terminal/blob/1797a86ee0f4e94627493b93440b5b99f15437a5/spyder_terminal/terminalplugin.py#L76-L80

https://github.com/spyder-ide/spyder-terminal/blob/1797a86ee0f4e94627493b93440b5b99f15437a5/spyder_terminal/tests/test_terminal.py#L183-L190

The terminal is set up by the fixture `setup_terminal` **before** the `DEV` flag is set manually here. What's the point on

[2020-03-24 17:46] bnavigator opened #181 "Unknown mark pytest.mark.first on a test"
There is an unregistered mark `pytest.mark.first`:

https://github.com/spyder-ide/spyder-terminal/blob/1797a86ee0f4e94627493b93440b5b99f15437a5/spyder_terminal/tests/test_terminal.py#L193-L196

This mark is presumably from pytest-ordering. But when I install that pytest plugin, the tests fail:

[code]

Without `pytest-ordering` (and after working around #179 and #180) the tests pass:

[code]

so `

[2020-03-28 07:39] zapcity opened #182 "Terminal unresponsive when creating new terminal"
## Description of your problem

When I select "New terminal in current Editor file", all terminal sessions freeze. This also happens sometimes when I select "New Terminal in current working Directory".

**What steps will reproduce the problem?**

1. select "New terminal in current Editor file"

**What is the expected output? What do you see instead?**

I expect all terminal sessions to remain oper

[2020-04-04 14:09] goanpeca commented on #182
@steff456 could you take a look at this one?

[2020-04-04 18:58] ccordoba12 commented on #177
@steff456, I agree with @goanpeca, we need to address this because it's very confusing to select a shell type and always get a bash prompt in return.

Please see this for some ideas on how to do it:

https://stackoverflow.com/questions/3327013/how-to-determine-the-current-shell-im-working-on

[2020-04-04 19:01] ccordoba12 commented on #179
I disagree with adding an extra check for this. `spyder-terminal` depends on Spyder, which depends on Python. So Spyder necessarily needs to be installed (it's part of the package requirements).

[2020-04-04 19:05] ccordoba12 commented on #181
The marker is not necessary in this test, so we can remove it (probably @steff456 took it from a Spyder test).

@steff456, please do that.

[2020-04-04 19:11] ccordoba12 opened #183 "Add testing requirements to setup.py"
@steff456, please take a look at how we declare tests in Spyder's `setup.py` file and add a similar section to the `setup.py` here.

[2020-04-04 19:14] ccordoba12 commented on #182
@zapcity, what happens if you open a new terminal with the default option?

[2020-04-04 19:28] ccordoba12 commented on #180
I agree with this. The problem @steff456 is that you're declaring `SPYDER_DEV` in our CI scripts, but that doesn't allow to run our test suite independently of them:

https://github.com/spyder-ide/spyder-terminal/blob/71eaf7cdd71d67805786e82d12b1479a40f203e5/.circleci/config.yml

https://github.com/spyder-ide/spyder-terminal/blob/8175e9481b20fc2500f59ec7d0cc2d7da5327508/azure-pipelines.yml

So ins

[2020-04-04 19:42] bnavigator commented on #179
I don't understand your comment. What has the dependency on spyder and python to do with this issue? It is about the correct executable of the call `python`. You cannot control the user's environment.

[2020-04-04 19:44] ccordoba12 commented on #179
I don't understand your point either. `python` must be installed in the environment where the tests are running.

[2020-04-04 19:46] ccordoba12 commented on #179
Ok, I didn't read this part (Linux and its quirkiness).

@steff456, please change the `python` used in that test to `python3`.

[2020-04-04 19:48] bnavigator commented on #180
I disagree. This test checks if the program behaves as expected in DEV mode. For that you enable DEV mode. It doesn't necessarily require DEV mode for the whole test suite. There are valid scenarios where you run the test suite not in DEV mode.

So either set the DEV mode before the test, or mark the test to only be run when the whole suite is in DEV mode and accept that this test will not be run

[2020-04-04 19:50] ccordoba12 commented on #180
If you disagree please send us a better PR. If not, please let us do our job.

[2020-04-04 23:33] ccordoba12 commented on #180
Sorry for being so blunt. This is a more detailed answer:

The entire test suite is already running with DEV mode on (that's what setting `SPYDER_DEV` in our CIs does, as the links above show).

There aren't at the moment, at least not for us.

I'm sorry but I fail to understand why we would need to do that. Since the environment variable will be set in `conftest.py`, it will stop to have effect o

[2020-04-05 10:12] bnavigator commented on #180
Ok I misunderstood. I see that in this case the small test suite of spyder-terminal does not have any non DEV mode codepaths. So please disregard my comment above.

[2020-04-05 14:18] ccordoba12 commented on #180
Thanks for understanding! 👍

[2020-04-05 17:03] ccordoba12 opened #184 "Don't distribute our tests with the package"
@steff456, I just noticed that we're distributing our tests with the package itself, even when that's not our intention:

https://github.com/spyder-ide/spyder-terminal/blob/0869e1418338b4468118e53f19df86382b93ff68/setup.py#L79

So please take care of fixing that for our next release.

[2020-04-06 20:51] steff456 commented on #179
Should we do this for the new release of spyder-terminal that doesn't support python 2?

[2020-04-06 21:19] bnavigator commented on #179
It doesn't matter if you support python2 or not. What matters is, whether the test environment has the correct `python` in their `PATH`.

(As long as you only care about your own CIs being supported test environments and those are all set up with the correct `python` in their `PATH`, this PR is moot)

[2020-04-06 23:55] ccordoba12 commented on #179
Ok, then I think we should simply skip this test if we're not in our CIs. @steff456, this is an example of how you can do this:

https://github.com/spyder-ide/spyder/blob/31c2129d4629ff27bc3c36a4235f26a1e15fe0ce/spyder/app/tests/test_mainwindow.py#L241-L243

[2020-04-07 14:29] bnavigator commented on #179
Please don't. I understand that you only want to support your own test environments, that's fine. But there is no need to actively shut out others. The test itself `test_terminal_resize` is not specific to the CI but is also useful for example to test if a package works fine. Distribution maintainers can adjust the python call to their environment if necessary, but most likely would prefer to run

[2020-04-07 17:16] ccordoba12 commented on #179
Ok, I have no problem with that either. But what's your proposed solution then? I'm sorry but if you don't give us a hand here, we'll have to skip it.

Sorry but that was our declared intention since we released this package (but we noticed it until now that we were distributing our tests). So that's not going to change.

[2020-04-07 17:26] bnavigator commented on #179
Either "won't fix" or call the correct python flavor. I can sumbit a PR later, so you can just let this issue sit.

[2020-04-07 17:39] ccordoba12 commented on #179
Thanks!! That's greatly appreciated!

[2020-04-07 21:45] #176 closed

[2020-04-07 21:48] #181 closed

[2020-04-07 22:17] #183 closed

[2020-04-08 19:07] #179 closed

[2020-04-09 07:37] zapcity commented on #182
When I press the '+' button i.e. "Open a new terminal", the behavior is the same, i.e. the original terminal window that opens with spyder becomes unresponsive, and all new terminal windows are blank.

[2020-04-09 16:40] #180 closed

[2020-04-09 16:42] #184 closed

[2020-04-09 16:49] bnavigator commented on #180
Sorry, but I still have one more recommendation: the (wrong) assignment in line 185 should be removed.

Either remove completely or make it an assertion that DEV was really set by conftest.py

`assert spyder_terminal.terminalplugin.DEV == True`

[2020-04-09 17:58] ccordoba12 commented on #180
You're totally right! Could you open a new issue or (better yet) submit a PR for that? Thanks!

[2020-04-09 23:39] steff456 commented on #182
@zapcity can you give me an example route where this is happening?
I could not reproduce the issue of the new terminal in macOS or in Windows

![new-term](https://user-images.githubusercontent.com/20992645/78949520-5c8fdc80-7a91-11ea-9b74-ab7c182adaba.gif)

There's an issue with the font size that we will check!

[2020-04-10 00:43] #177 closed

[2020-04-17 12:46] FLMuller opened #199 "terminal app not working"
## Description

### What steps will reproduce the problem?

I just installed (and also updated to check) the spyder-terminal==0.3.0 app it caused this error in Spyder 4.1.2 (also a fresh install as of yesterday...)

### Traceback
[code]

## Versions

* Spyder version: 4.1.2
* Python version: 3.7.7
* Qt version: 5.12.8
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-04-22 20:07] steff456 commented on #199
Can you please upgrade to the latest version of spyder-terminal and verify if that works?

[2020-04-23 09:10] FLMuller commented on #199
hi re-installed spyder-terminal, it updated but when I run spyder there is nothing that oindicates the terminal is active. as in within the console menu there is no termial option visible...

[2020-04-23 09:59] ShayekhBinIslam opened #200 "Windows Clipboard Paste Problem"
## Description of your problem

**What steps will reproduce the problem?**

1. Open Terminal
2.  Press win-key + V
3.  Press enter

**What is the expected output? What do you see instead?**
Previously Copied String. ^V instead.

**Please provide any additional information below**

## Versions and main components

* Terminal Version:  0.3.0
* Spyder Version: 4.1.2
* Python Version: 3.7.6
* Operatin

[2020-04-23 16:14] steff456 commented on #199
Please check under `View>Panes>Terminal` in the menu of Spyder

[2020-04-23 16:46] FLMuller commented on #199
yes, not there at all...

[2020-04-24 00:09] goanpeca commented on #200
@steff456 can you confirm this issue?

[2020-04-28 03:54] steff456 commented on #200
@ShayekhBinIslam did you modify the predetermined shortcut?
The predetermined shortcut for Windows is `Ctrl+Alt+Shift+V` for pasting
Let me know if it works for you

[2020-04-28 05:44] ShayekhBinIslam commented on #200
I did not modify any setting related to the terminal.

I think, I could not make myself clear. I am restating my problem.

Windows allows to paste no only current copied string in clipboard, but also previously copied strings through the button win-key+V. I have no problem with the normal copy-pasting. But I cannot copy from history in the clipboard. Thanks.

[2020-04-28 20:26] steff456 commented on #200
This will be a feature request, we will take it into account for the next version of the terminal.
In the mean time, please use the normal copy-pasting in the terminal

[2020-04-28 20:36] goanpeca opened #202 "Problems when highlight text on terminal"
## Description of your problem

**What steps will reproduce the problem?**

1.  The color of highlight makes the text invisible
2. The color of highlight does not match the highloght color of other plugins within spyder.

**What is the expected output? What do you see instead?**
Uniform UI, and visible text

![image](https://user-images.githubusercontent.com/3627835/80535180-02828880-8966-11ea-87e

[2020-04-29 19:12] rohit-a3 opened #203 "Problem with opening the terminal pane."
I tried opening the spyder-terminal and an error showed up saying terminal server could not be located.
I installed python and and checked the terminal pane under View>Panes>Terminal. The error appears when I click on the terminal.

**What is the expected output? What do you see instead?**
The terminal pane does not open.

**Please provide any additional information below**
![Screenshot (22)](http

[2020-05-01 03:07] steff456 commented on #203
@rohit-a3 please update to the latest release and it should work fine. Please let me know if that works for you.

[2020-05-01 09:31] rohit-a3 commented on #203
I did this and now spyder does not launch at all. Any solutions?

[2020-05-01 19:00] steff456 commented on #203
Can you please send me the output of `conda list`? And just for double check, are you running spyder from the command line?

[2020-05-02 08:26] rohit-a3 commented on #203
`
(base) C:\Users\Rohit>conda list
# packages in environment at C:\Users\Rohit\anaconda3:
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0
alabaster                 0.7.12                   py37_0
anaconda                  2020.02                  py37_0
anaconda-client           1.7.2                    py37_0
anaconda-

[2020-05-02 08:29] rohit-a3 commented on #203
`
(base) C:\Users\Rohit>conda list
# packages in environment at C:\Users\Rohit\anaconda3:
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0
alabaster                 0.7.12                   py37_0
anaconda                  2020.02                  py37_0
anaconda-client           1.7.2                    py37_0
anaconda-

[2020-05-03 19:55] steff456 commented on #203
Did you installed `spyder-terminal` using pip? With the environment you just show me, it doesn't seem to have spyder-terminal installed.

In case you installed using pip, please remove it and install it with conda
[code]

Let me know if that works :)!

[2020-05-04 04:23] rohit-a3 commented on #203
I had to uninstall and install anaconda again. Last time I installed terminal spyder started to get unresponsive too. And I'd installed terminal using the conda, not pip. I just use command prompt instead of terminal now as I don't wanna risk having to install anaconda all over again.

[2020-05-04 16:46] #203 closed

[2020-05-04 21:58] goanpeca commented on #148
Maybe we could add this on the right click as some other plugins do?

I guess the Ctrl++/- should also work :shrug:

![Screen Shot 2020-05-04 at 16.56.39.png](https://images.zenhubusercontent.com/560c1b40638e718c995d70b3/548fb980-a180-4750-b101-7676c7d748e6)

What do you think about this @steff456?

[2020-05-04 22:00] goanpeca commented on #123
Is this still a relevant bug @ccordoba12 ?

[2020-05-04 22:01] goanpeca commented on #164
Thanks for reporting @sefademirtas, we will look into this in a future release

[2020-05-05 02:54] #120 closed

[2020-05-07 10:48] paraschakis commented on #148
That would be super-nice, thank you in advance! My eyes hurt :)

[2020-05-07 15:07] ccordoba12 commented on #123
I think this was fixed some time ago. Closing for now.

[2020-05-07 15:07] #123 closed

[2020-05-14 16:46] ccordoba12 commented on #148
@steff456, does xterm.js have an option to do this?

[2020-05-14 16:49] steff456 commented on #148
This feature is difficult to adjust, because it also changes the font size and the terminal size. Right now, this option is not available. I guess we could add the option for the users to set the font size themselves.

[2020-05-14 17:01] steff456 commented on #182
Closing this issue due to lack of response.

[2020-05-14 17:08] steff456 commented on #145
Closing this issue because it hasn't been reported in the latest version.

[2020-05-14 17:08] #145 closed

[2020-05-14 17:12] steff456 commented on #199
@FLMuller have you tried to install the latest release of spyder-terminal?

[2020-05-14 17:28] ccordoba12 commented on #148
Agreed. Please go ahead with this @steff456.

[2020-05-19 19:04] mikeyEcology opened #205 "Run code from .py file in terminal"
## Description of your problem
Thank you for creating the spyder-terminal software. I'm hoping to find a shortcut, or a button I can press, to directly run code from my .py file in the terminal. It seems the only way I can run my python code in the terminal is to copy from my script file and paste it into the terminal window.

**What steps will reproduce the problem?**
In your .py file type:
1. py

[2020-05-19 19:32] ccordoba12 commented on #205
@mikeyEcology, nice suggestion! Could you post a screenshot of how this functionality works in RStudio?

[2020-05-19 19:52] mikeyEcology commented on #205
@ccordoba12 Here is what it looks like in my RStudio. To get the code to run in the terminal in RStudio, I press a combination of [Command + alt + Enter] to run the line that I am currently on. Once the line has been sent to the terminal, the cursor moves to the next line. Thank you.
![Screen Shot 2020-05-19 at 3 46 27 PM](https://user-images.githubusercontent.com/11393425/82371395-1dd23800-99e8-1

[2020-05-28 10:17] stuartn60 opened #206 "Correctly generate logging files"
## Description of your problem

**What steps will reproduce the problem?**

1. Start Spyder3
2. Few seconds later the error message appears

**What is the expected output? What do you see instead?**
Attached error message

**Please provide any additional information below**

## Versions and main components

* Terminal Version: python3-tornado6 6.0.4-2.1 & python3-terminado 0.8.3-1.4
* Spyder Versi

[2020-05-28 17:14] ccordoba12 commented on #206
Please read with care the message above: we need to logs generated by Spyder terminal, not the ones coming from Spyder itself, to debug this.

[2020-05-28 22:21] stuartn60 commented on #206
How do I start the terminal in debug mode to obtain the server logs? (sorry to be a bit naive on this)

[2020-05-28 23:43] ccordoba12 commented on #206
Simply start Spyder in debug mode and the files mentioned in the message should be generated automatically (I think) in your current working directory.

[2020-05-28 23:47] stuartn60 commented on #206
Thanks ... did that ... I sent the only file that appeared!

[2020-05-29 23:38] stuartn60 commented on #206
For information: from pypi.org/project/spyder-terminal ... found the issue by running ...
python3 -m spyder_terminal.server --port 8071
... missing colorlogs ... python3-colorlogs ... along with dependencies python3-capturer, python3-humanfriendly, python3-verboselogs
... spyder-terminal log files still missing after running ...
spyder3 --debug-info verbose --debug-output file

[2020-06-01 21:12] ccordoba12 commented on #206
Please report that to your the distro maintainer for this package.

[2020-06-01 21:13] ccordoba12 commented on #206
@steff456, I think we need to connect the generation of logging files here with the function `get_debug_level` from Spyder and not with `DEV` (as it is right now, if I'm not mistaken).

[2020-06-02 03:10] zapcity commented on #182
I'm not quite sure what you mean by example route.

Further to this. I have installed spyder + terminal on:

- my work laptop
- windows sandbox
- vmware with windows 10 2004

The install steps were:

- download miniconda from: https://docs.conda.io/en/latest/miniconda.html i.e. python 3.7 x64
- open up anaconda prompt
- conda create -n beta python=3.7
- activate beta
- conda install spyder=4.1.3
-

[2020-06-02 03:17] zapcity opened #207 "request to reopen issue #182"
Hi, would it be possible to reopen issue #182 'Terminal unresponsive when creating new terminal'. I was unable to respond the the last comment, and it seems the issue is still not resolved. I tested by installing in other environments and posted an update in that thread. Thanks

[2020-06-02 13:31] ccordoba12 commented on #207
I saw that you answered there without problems. Please wait until @steff456 answers you there.

[2020-06-02 13:31] #207 closed

[2020-06-10 04:57] NA-Dev commented on #182
I have the same bug.  I am on Windows 10 with the latest anaconda, spyder, and spyder-terminal. Terminal in git bash works fine. First terminal window to open in spyder works, but opening a new tab causes the first tab to become unresponsive and the new tab seems to never finish opening.

[2020-06-12 21:59] map0logo opened #209 "Having problems installing spyder-terminal in a conda environment"
## I've tried unsuccessfully to install spyder-terminal in a conda environment

**What steps will reproduce the problem?**

1. To isolate changes I create a brand new environment
[code]
2. Then I install Spyder
[code]
3. And try to install the plugin
[code]

**What is the expected output? What do you see instead?**

Expected output: Successful installation

I got instead a large list of dependenci

[2020-06-15 21:04] steff456 commented on #209
Hi @map0logo,

Can you please install spyder from our own channel instead of conda-forge in a new environment?
[code]

Please let me know if that works for you

[2020-06-23 01:46] ccordoba12 opened #212 "Migrate this plugin to Python 3"
@steff456, please take care of this one for our next release.

[2020-06-23 03:34] ccordoba12 opened #213 "Update to xterm.js latest version"
@steff456, please take care of this one for 0.4.0

[2020-06-24 17:43] #206 closed

[2020-06-24 19:14] #213 closed

[2020-06-25 21:46] #212 closed

[2020-06-25 23:05] steff456 opened #218 "Shortcuts are not appearing in the preferences pane"
## Description of your problem

**What steps will reproduce the problem?**

1. Open preferences > Keyboard shortcuts
2. The terminal options are not listed

**What is the expected output? What do you see instead?**
The terminal option listed so they can be changed

[2020-06-25 23:06] steff456 opened #219 "Remove QWebKit from the code"
## Description of your problem
Technical debt, right now we are only using QWebEngine for the backend, so there's some code that need to be removed

[2020-06-25 23:08] steff456 commented on #209
Closing this issue because there was no followup after 10 days

[2020-06-26 00:06] #202 closed

[2020-06-26 00:13] ccordoba12 commented on #218
Does this need a fix here or in the Spyder repo?

[2020-06-26 03:12] steff456 commented on #182
@NA-Dev, @zapcity when the terminal is unresponsive, the other panels in Spyder stop working as well?

[2020-06-26 21:44] #148 closed

[2020-06-28 07:03] zapcity commented on #182
All the other panels work fine i.e. IPython console, New File/Editor, Variable explorer etc. I can continue to use Spyder just fine, however the Terminal's are completely unresponsive.

[2020-06-29 16:50] goanpeca commented on #218
See: https://github.com/spyder-ide/spyder/wiki/External-Plugins-Shortcut-definition-4.x

[2020-06-29 22:38] #218 closed

[2020-06-29 23:00] #219 closed

[2020-07-01 03:00] steff456 commented on #200
Hi @ShayekhBinIslam,

I tried to add this feature to the terminal, but then I encounter that `Winkey+V` is `Ctrl+V` in Qt. Sadly, `Ctrl+V` is an escape sequence in terminals. So we are not going to override this behavior, please remember that in the preferences section you can change the combination of shortcuts.

I'm closing this issue.
Thanks for reporting!

[2020-07-01 03:00] #200 closed

[2020-07-01 16:48] steff456 opened #224 "Add widget for find functionality in the terminal"
Add the graphic part of the find in the terminal and connect it with the existent functions in the terminal

[2020-07-02 12:22] dianakozlova commented on #121
I have the same issue as @manojbaishya. Is there a fix?
I've tried to uninstall and install the terminal again using
`conda uninstall spyder-terminal -c spyder-ide`
`conda install spyder-terminal -c spyder-ide`
No results.

This is an error that I get.
![Screenshot 2020-07-02 at 14 21 38](https://user-images.githubusercontent.com/53052173/86358229-6def1c00-bc6f-11ea-9648-721c16269df6.png)

[2020-07-02 12:31] dianakozlova opened #225 "Terminal error "ValueError: Invalid cookie 'cwd'""
## Description of my problem

Hi, recently I switched to spyder and downloaded spyder-terminal. It worked fine until today.
I've tried to commit my changes via git inside the terminal, but what I saw was this:

![Screenshot 2020-07-02 at 14 21 38](https://user-images.githubusercontent.com/53052173/86358699-3765d100-bc70-11ea-9c8c-34a9b6ab2962.png)

I've tried to uninstall and install the terminal

[2020-07-07 07:36] dianakozlova commented on #225
@steff456 could someone help me please?

[2020-07-07 19:54] steff456 commented on #225
Hi @dianakozlova,

Can you change the directory name to something that doesn't have spaces in it? Please let me know if that fixes the issue, if so, we will add support to directories that have spaces.

[2020-07-08 07:46] dianakozlova commented on #225
Dear @steff456,
Thank you very much, it works now! :)
It was indeed spacing in my directory naming.

[2020-07-08 16:02] steff456 commented on #225
We will work on supporting the spaces in our next release, thanks for reporting!

[2020-07-08 20:56] #224 closed

[2020-07-08 21:08] ccordoba12 opened #227 "Add option to set buffer limit"
Most Linux consoles have an option to set the buffer limit, i.e. the amount of lines shown in the console. That's very handy when you need to increase it in order to explore the output of commands like `strace`.

@steff456, please take a look at this one.

[2020-07-08 21:09] steff456 commented on #227
We need to add an option for `scrollback` parameter in the terminal.

[2020-07-09 16:30] sahasransu-kar opened #230 "console is not fitting the"
## Description

### What steps will reproduce the problem?

the console is not fitting to my screen what should i do

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-10 17:16] #227 closed

[2020-07-10 17:33] #225 closed

[2020-07-10 21:29] andfoy commented on #230
@sahasransu-kar, I've just migrated this issue to spyder-terminal. Could you please provide a screenshot of the issue that you're getting?

[2020-07-13 22:29] steff456 opened #233 "Update translations"
Hello translators! Spyder-Terminal version **0.4.0** is soon to be released and we'd like to ask for your help to update your respective translations.

We plan to do this release on Thursday, so it'd be great if you could help us with that by July 16th 10:00 pm UTC at most. It's ok if you cannot make it on time, we can release your updates on a future version.

## French
@afvincent
@jnsebgosselin

[2020-07-13 22:35] steff456 commented on #233
@juanis2112 I already finished the translations for Spanish (:

[2020-07-14 02:31] juanis2112 commented on #233
Great! Thanks @steff456

[2020-07-17 16:43] sahasransu-kar commented on #230
Thank you so much the problem is solved

[2020-07-17 16:43] #230 closed

[2020-07-21 20:07] #233 closed

[2020-08-01 01:55] GregOakes opened #235 "Plugin fails on Python 3.8 and Windows"
## Description

### What steps will reproduce the problem?

Installed spyder-terminal, via anaconda3 64b, to spyder4, and started spyder. Startup ends with Spyder Terminal Error popup. Followed instruction to debug spyder; got an error file, terminal output in terminal window, and an empty terminal_out.log file.

Terminal Edrror log:

2020-07-31 20:10:55 LAPTOP-VESB5F0J __main__[1366932] INFO Serv

[2020-08-01 03:43] ccordoba12 commented on #235
I think the problem is with Python 3.8. Please install 3.7 in a conda env and try again.

[2020-08-01 04:00] GregOakes commented on #235
Awesome response Carlos. What a surprise. Big thank you and I'll give it a try. Tomorrow...
    On Friday, July 31, 2020, 11:43:45 PM EDT, Carlos Cordoba <notifications@github.com> wrote:

I think the problem is with Python 3.8. Please install 3.7 in a conda env and try again.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe

[2020-08-01 14:20] GregOakes commented on #235
Do I need to delete python 3.8 and then install 3.7?Reversion is said to be impossible...

UnsatisfiableError: The following specifications were found to be incompatible with each other:

Output in format: Requested package -> Available versions

Package vs2010_runtime conflicts for:

parso -> python -> vs2010_runtime

python-dateutil -> python -> vs2010_runtime

qdarkstyle -> python -> vs2010_run

[2020-08-01 15:40] GregOakes commented on #235
disregard, please.I used a conda env with already python37, rather than trying to revert within my python38 spyder env.Hurrah!
    On Saturday, August 1, 2020, 10:20:43 AM EDT, Greg Oakes <spacecabooie@yahoo.com> wrote:

  Do I need to delete python 3.8 and then install 3.7?Reversion is said to be impossible...

UnsatisfiableError: The following specifications were found to be incompatible with ea

[2020-08-01 16:12] ccordoba12 commented on #235
@steff456, please take a look at this one. It seems to be caused by an incompatibility between Tornado and Python 3.8.

[2020-08-01 17:57] GregOakes commented on #235
@steff456, : Steph and Carlos, attempts to add an additional terminal fail (the tab is created but no cursor appears), and the initial terminal becomes unresponsive.

python 3.74, spyder 4.1.4
    On Saturday, August 1, 2020, 12:12:38 PM EDT, Carlos Cordoba <notifications@github.com> wrote:

@steff456, please take a look at this one. It seems to be caused by an incompatibility between Tornado and

[2020-08-04 16:01] ccordoba12 commented on #235
Thanks for letting us know @GregOakes. @steff456 will take a look at that problem too.

[2020-08-05 00:58] #235 closed

[2020-08-27 14:15] math-is-fun opened #238 "running conda update --all inside the spyder terminal broke anaconda"
## Description of your problem

**What steps will reproduce the problem?**

1. Run > conda update --all inside spyder terminal

**What is the expected output? What do you see instead?**
Expected: Normal update of all packages in the core environment

Instead: At some point during the update, it tried to open 127.0.0.1 (or a similar IP, I wasn't smart enough to write it down) after which the termin

[2020-08-29 14:47] harizjet commented on #182
This occur to me too. I just install anaconda, spyder, and spyder-terminal today and it happened directly after i try to used it.

[2020-08-30 04:48] harizjet commented on #182
This occur to me too just after i installed it. Then it resolve after i restart my computer.

[2020-09-01 09:56] twelsh37 commented on #238
This to me seems a systems issue. You should not be able to update Spyder from Inside Spyder. You could carry this out in old versions with problems arising. See file Spyder-4.0.1. In Later Versions of Spyder it was not possible to carry this out. See Spyder -4.1.4

Work PC Running Windows 10 1803 - File attached Spyder-4.1.4
Home PC running windows 10 1909 - File Attached Spyder-4.0.1

[Spyder-4.

[2020-09-18 21:09] math-is-fun commented on #238
Yeah, seems like it was a bonehead move on my part trying to update all from within one of the to be updated applications. Probably not something I should've tried to do in the first place. Well, I'm running 4.1.5 now, so I guess it is solved

[2020-09-18 21:09] #238 closed

[2020-09-27 16:17] lwbaqueros commented on #209
Hello @steff456, I am having the same problem when trying to install the plugin. I am in Linux Ubuntu with Python 3.8.3 and the following packages:

I tried to install the plugin in a conda environment with  `conda install -c spyder-ide spyder-terminal`

I got the following result:

[2020-09-27 16:32] steff456 commented on #209
Hi @lwbaqueros,

Thanks for reporting your issue and it seems that you have a problem with your current environment because in conda forge we published a version for python 3.8. Please try to install spyder and spyder-terminal in a new and clean environment to see if the error persists,

`
Conda create -n test python=3.8
Conda activate test
Conda install spyder=4.1.5 spyder-terminal=0.4.2
`

Pleas

[2020-09-27 17:07] lwbaqueros commented on #209
Inside the new test enviroment, using `$ conda install spyder-terminal=0.4.2` I got:

and with` conda install -c spyder-ide spyder-terminal` I got the same error about the python version.

[2020-09-27 17:10] lwbaqueros commented on #209
`conda config --show channels` Returns  `channels:  - defaults`

[2020-09-27 17:20] lwbaqueros commented on #209
Using the channel conda-forge I have installed it successfully.

`conda install -c conda-forge spyder-terminal`

[2020-09-27 18:29] steff456 commented on #209
Yes! Sorry, I forgot to add the spyder-ide channel. Do you have the terminal running and working as expected?

[2020-09-28 08:16] lwbaqueros commented on #209
Yep, it works great! Thanks for this awesome plugin!!

[2020-09-28 17:29] steff456 commented on #209
Thanks @lwbaqueros! I'm glad that you like this plugin :)

As your error was fixed I'm going to close this issue. Thanks for reporting!

[2020-09-28 17:29] #209 closed

[2020-10-01 21:40] zapcity commented on #182
I went through the same setup on a new install with spyder 4.1.5, and it's still not working. Restarting the pc does nothing.

[2020-10-02 08:14] pkars opened #239 "Missing import in confpage.py"
## Description of your problem
Terminal plugin raises an error when opening Spyder preferences window. The issue is in `confpage.py`:
[code]
This prevents setting terminal preferences, too. Adding `import sys` to the file fixes the problem.

**What steps will reproduce the problem?**

1. Use Linux
2. Open Preferences
3.

## Versions and main components

* Terminal Version: 0.3.1
* Spyder Version:

[2020-11-01 16:23] mattip opened #240 "Terminal tab not working on spyder 4.1.5, Ubuntu 20.04"
### Description of your problem

**What steps will reproduce the problem?**

1. conda create -n spyder python=3.8
2. conda activate spyder
2. conda install spyder
3. conda install spyder-terminal -c spyder-ide
4. spyder

**What is the expected output? What do you see instead?**

I expected to get a functioning terminal with the latest version. I got version 0.3.1. I used `conda install spyder-term

[2020-11-02 20:33] MCilento93 opened #241 "Select+zoom-in-bug & improved graphics"
## Description of your problem

**What steps will reproduce the problem?**

1. Select all chars in the Terminal
2. Right click with the mouse
3. Click 'zoom-in'

**What is the expected output? What do you see instead?**
I can't see anymore the chars. The cursor instead keeps pulsing and is visible.

**Please provide any additional information below**
I just changed the cursor to be the underscore.

[2020-11-02 23:15] dkinneyBU opened #242 "Terminal just displays a fat cursor and does nothing else"
## Description of your problem
When I open a terminal panel in Spyder, it just displays a fat white cursor and otherwise is unresponsive.

**What steps will reproduce the problem?**
1.Installed spyder-terminal from Anaconda Navigator
2.Opened a terminal panel

**What is the expected output? What do you see instead?**
On my Windows environment I get a cmd prompt. On my ubuntu environment, I just ge

[2020-11-03 08:25] cagatayyildiz commented on #242
I've just upgraded my spyder from 3.* to 4.1.5 and re-installed spyder-terminal, and I had the exact same unresponsive terminal window. Same versions except Python 3.7.0 and macOS 10.15.6

[2020-11-03 18:23] MCilento93 commented on #241
For illustrative purposes, I attach the following.

Thanks for all you job and support.
Sincerely,

![image](https://user-images.githubusercontent.com/66259011/98025476-fe01c580-1e09-11eb-99a6-b392ae378867.png)

[2020-11-06 00:15] steff456 commented on #239
Hi @pkars this issue is fixed by #201 and included in the latest release 4.2, to update please type in a console,

[code]

[2020-11-06 00:15] #239 closed

[2020-11-06 00:19] steff456 commented on #240
Hi @mattip,

Please update to our latest version 0.4.2 by typing in the console,

[code]

If you don't see the terminal tab in Spyder, please go to `View>Panes>Terminal` and it should be visible.

Let me know if this works

[2020-11-06 00:20] steff456 commented on #241
Hi @MCilento93, this issue was fixed in our latest release, please type the following in a console to update to the latest version,
[code]
Thanks for reporting!

[2020-11-06 00:20] #241 closed

[2020-11-06 00:21] steff456 commented on #242
Hi @dkinneyBU and @cagatayyildiz, can you please upgrade the terminal to 0.4.2 and let me know if the error persist?

[code]

[2020-11-06 02:14] dkinneyBU commented on #242
No, I still have the same large square cursor and no response from the terminal. Here is the history from the two commands I ran per your suggestion:

(base) will@will-caster-pinn: ~$ conda update spyder
Collecting package metadata (current_repodata.json): done
Solving environment: |
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inc

[2020-11-06 05:18] mattip commented on #240
What channel is spyder 0.4.2 available on? When I search anaconda [I only see 4.1.5](https://anaconda.org/anaconda/spyder). The [installation instructions](https://docs.spyder-ide.org/current/installation.html#new-conda-environment) mention using the conda-forge channel, which I did, but that too only has 4.1.5.

[2020-11-06 05:41] mattip commented on #240
Ahh, you meant terminal 0.4.2. That is what I had, your directions downgrade it to 0.3.0:
$ conda install spyder-terminal -c spyder-ide
Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/matti/miniconda3/envs/spyder

  added / updated specs:
    - spyder-terminal

The following packages will be SUPERSEDED by a high

[2020-11-06 05:44] mattip commented on #240
I restored it to 0.4.2 by `conda install spyder-terminal=0.4.2`, the problem persists.

[2020-11-06 05:45] steff456 commented on #240
Can you add a screenshot or gif with the error you are experiencing?

[2020-11-06 06:42] mattip commented on #240
Not a lot to see. There is a blinking cursor, the terminal is non-responsive. How can I get debug information? Hoow do I even know if it opened a connection to bash? When I look at the running kernels, and open a new terminal tab, I do not see a new kernel json file created like I do when I open a new IPython-console tab.

![spyder](https://user-images.githubusercontent.com/823911/98333814-3b34a60

[2020-11-06 19:59] MCilento93 commented on #241
Hello Steff and thank you for helping me.

Unfortunately, now it get worse: I have spyder 4.1.5 with spyder-terminal at 0.3.0 (I didn't succeded to install a later version) and I see a fully black/white screen (without chars, except for the cursor).
Like now, the terminal is not usable anymore.
<img width="365" alt="Immagine 2020-11-06 205927" src="https://user-images.githubusercontent.com/6625901

[2020-11-07 12:06] MCilento93 commented on #241
I tryied with a fresh environment.
It does not work with python=3.7 neither python=3.8

For now I keep using GUI bash console :/

[2020-11-13 15:14] steff456 commented on #241
Hi @MCilento93, this is an error that we are working to fix it and will be available in our next release :D

[2020-11-13 16:28] #240 closed

[2020-11-13 16:28] #242 closed

[2020-11-19 06:59] MCilento93 commented on #242
Same issue too.
They are figuring this out in next releases

[2020-11-19 19:17] steff456 commented on #242
Hi @MCilento93,

Can you update to the latest version of spyder-terminal it has the fix for this issue?

[2020-11-19 20:08] MCilento93 commented on #242
I don't understand, I am on python 3.8.5 but from your setup file I read python >3.5.
This is the error I got

![image](https://user-images.githubusercontent.com/66259011/99718473-33194380-2aab-11eb-8034-8c681605629a.png)

Spyder just reinstalled at 4.1.5

[2020-11-19 20:16] steff456 commented on #242
Can you install Spyder 4.2 and then install spyder-terminal? Let me know if this fixes your issue

[2020-11-19 20:36] MCilento93 commented on #242
Great @steff456
Solved!!

I can't update spyder right?
Meaningless but it is ok 👍

[2020-11-19 20:40] steff456 commented on #242
Normally we are updating the terminal with respect to the latest Spyder version, so it is safe to update it :)

[2020-11-19 20:52] MCilento93 commented on #242
mmm do you mean I can update spyder to latest??

[2020-11-19 21:52] MCilento93 commented on #242
if it is already possible I will install spyder-terminal with 4.2. and then update spyder for all the envs I have.
Thank you,
MC

[2020-11-20 05:42] xcodz-dot opened #245 "Weird Font with Spyder-terminal (ANSI Escape Sequence)"
I have everything fresh installed on Ubuntu 20.4 with python3.9. the problem is with the wierd font with the spyder-terminal
Sorry, for not filling up everything

My application uses ansi escape sequence. and here are some screenshots:

![Screenshot from 2020-11-20 11-08-12](https://user-images.githubusercontent.com/71920621/99763556-2800fa80-2b21-11eb-8f4e-67ff6486516a.png)
![Screenshot from 2020

[2020-11-20 23:48] JBum21 commented on #164
Any resolution to this issue?

[2020-12-01 17:15] dkinneyBU commented on #242
I see that this issue is already closed, but being that I'm the one who opened it, I thought I would just mention that I uninstalled terminal, upgraded Spyder to 4.2, reinstalled terminal and it's working fine now.

Thanks very much for the quick turnaround. I've donated some $ to the cause. :-)

[2020-12-01 17:54] steff456 commented on #245
Hi @xcodz-dot,

This is the same font you are using in your system terminal? If you zoom in, does the font fixes or it continues to look weird?

[2020-12-01 17:57] steff456 commented on #242
Thanks @dkinneyBU! I'm glad we could fix this error and the terminal is working again

[2020-12-02 03:37] xcodz-dot commented on #245
The thing is that the ubuntu font looks completly different but no problems for me, I will use windows (Just reported the bug so you guys know)

[2020-12-02 03:37] #245 closed

[2020-12-02 22:22] JBum21 commented on #164
Still having issues with this on macOS 10.15.7

[2020-12-03 10:11] paraschakis opened #247 "Setting default font size"
## Description of your problem

It would be nice to have a setting for the default font size, because now for each new terminal window, a user must increase/decrease the font size manually.

[2020-12-12 10:19] MCilento93 commented on #225
I append my question to this post to not open a new one.

As optimizing ideas for spyder-terminal I was asking whether you can open the terminal as default in the folder of the spyder project if any.

Thank you,

[2020-12-13 14:51] ccordoba12 commented on #225
@MCilento93, that's a good idea. Please open a new issue about it.

[2020-12-20 19:12] kjibran opened #248 "Can not see spyder-terminal in Spyder IDE on Windows 10"
I am using Python 3.9.0 and Spyder 4.2.0 on Windows 10 (x64) machine. I installed spyder-terminal and also all its dependencies. But, I can't see the terminal when I open the Spyder IDE.

Here is the output of `pip list`

Package                       Version
----------------------------- ----------
alabaster                     0.7.12
appdirs                       1.4.4
argon2-cffi

[2021-01-07 20:07] steff456 commented on #248
Hi @kjibran,

Are you using conda to install the packages or only pip?

[2021-01-07 20:09] steff456 commented on #247
Hi @paraschakis,

We tried to have a default font size, but the problem we encounter is that it depends on the screen resolution. That's why we decided to just manage the increase/decrease of the font. We could try to add this option to the configuration page so that new terminals that you open will have a certain zoom by default for our next release.

Thanks for reporting!

[2021-01-08 09:01] kjibran commented on #248
Hi @steff456,

I use both (Spyder and its plugins work fine with Conda).

However, the issue I posted was in Python 3.9. I noticed that spyder-terminal doesn't work with Python 3.9, it complains about libraries compatibilities and afterwards, Spyder IDE crashes. Is my observation correct?

I also have Python 3.7 installed and use pip to install packages. Spyder IDE, and spyder-terminal work as exp

[2021-01-08 20:20] steff456 commented on #248
Hi @kjibran,

It seems that the terminal is not working because there's not a package of `pywinpty` for Python 3.9. Once it is out, I can let you know to install it and the terminal should be working fine

[2021-01-08 21:39] kjibran commented on #248
Hi @steff456,

I can see `pywinpty` for Python 3.9 available at Christoph's Python windows binaries [https://www.lfd.uci.edu/~gohlke/pythonlibs/](url). Is it not the same package we are talking about? I have already this package installed, but spyder-terminal doesn't work.

[2021-01-10 17:19] dkinneyBU opened #249 "Spyder 4.2.1 installed with windows installer: how do we attach spyder-terminal"
## Description of your problem
I installed Spyder 4.2.1 using the new Windows installer. How do I attach spyder-terminal? Anaconda Navigator still thinks I'm running 4.1.4

## Versions and main components

* Terminal Version:
* Spyder Version: 4.2.1
* Python Version: 3.7.9
* Operating system: Windows 10

[2021-01-18 19:01] steff456 commented on #249
Hi @dkinneyBU,

You'll need to create a new conda environment to install the dependencies that the installer doesn't bring. So in this new environment please install `spyder-terminal`. Then you can go to `Preferences > Python Interpreter > Python Interpreter` and choose the option `Use the following python interpreter` and in the combobox you should be able to see your new environment to connect t

[2021-01-23 17:37] dkinneyBU commented on #249
That worked perfectly. As always, you've come to my rescue. :-)

thanks...

[2021-01-23 17:37] #249 closed

[2021-01-30 12:10] MCilento93 opened #250 "Shell interpreter: Anaconda Power Shell Prompt"
## Description of proposed enhancement

**Anaconda pre-activate shell interpreter**
![image](https://user-images.githubusercontent.com/66259011/106355898-6114d280-62fb-11eb-9f2d-3d942f7bd345.png)

I am running spyder-ide from a new created environment (not conda-base). I would like to access anaconda commands within syder-terminal, but the two shells proposed do not include "Anaconda Power Shell P

[2021-02-01 23:59] steff456 commented on #250
Hi @MCilento93,

We currently don't support Anaconda power shell prompt but we can add it in our next release. This may take a while because we are working on a new API for Spyder 5, so once we have this covered we'll update the external plugins.

If you are interested in helping us adding this feature to spyder-terminal please let me know to give you the instructions you need.

Thanks for reporti

[2021-02-12 15:18] MCilento93 commented on #250
Dear Steff thank you for your kind answer! Sorry for replying you so late.
Anyway, for me it is ok helping you with this feature.
Feel free to write me at your convenience mario.cilento.93@gmail.com

Regards 😄

[2021-02-17 17:42] dkinneyBU commented on #247
TBH I'd be happy just being able to change the font size; manually or otherwise. I'm running Spyder 4.2.1. Can you enlighten me on how I can change the Windows cmd font size please? I'm sure I'm missing something obvious.

[2021-03-30 20:21] DragonEggBedrockBreaking opened #251 "Cannot be installed in an environment with Python 3.9"
## Python cannot be installed on a conda environment with Python 3.9

**What steps will reproduce the problem?**

1. Download Conda (Anaconda/Miniconda)
2. Create a python 3.9(.2) environment and activate it
3. Run `conda install spyder-terminal -c spyder-ide`

**What is the expected output? What do you see instead?**
I expect spyder-terminal to successfully install. I instead see the following er

[2021-04-07 19:16] MuellerSeb opened #252 "Spyder 5 support"
## Description of your problem

I like this plugin, but it keeps me from using Spyder 5. I am just creating this issue to keep track of the development. I don't want to push anybody. Maybe it could serve as a little motivation, since there are people out there loving this terminal plugin :wink:

**What steps will reproduce the problem?**

1. install spyder 5

[2021-04-14 21:47] steff456 commented on #252
Hi @MuellerSeb,

This is something I have in my priority list and I hope to soon be working on migrating this plugin to be compatible with Spyder's 5 new API. For now if you want to continue using this plugin please remain working in Spyder 4 and I will close this issue once I make the new release of Spyder-terminal 1.0.0.

Thanks for reporting!

[2021-04-14 21:51] steff456 commented on #251
Hi @DragonEggBedrockBreaking,

This error pops out in a new and clean environment or did you installed something before in it?

[2021-04-14 23:07] DragonEggBedrockBreaking commented on #251
I think it was clean, but I don’t remember. I will test tomorrow (on python 3.9.4) on a new clean environment.

[2021-04-14 23:40] steff456 commented on #251
Let me know :)

[2021-04-15 13:24] DragonEggBedrockBreaking commented on #251
I installed miniconda (python 3.9), created a fresh environment, followed the commands in the releases page:
[code]
and still got this error after running the third command (first two were successful):
[code]

- Conda 4.10.1
- Spyder 5.0.0
- Python 3.9.4
- Windows 10

[2021-04-15 16:20] steff456 commented on #251
This error is happening because you are installing Spyder 5.0.0. Right now spyder-terminal doesn't support the new API so it is not working as expected. Please try to install Spyder 4 in the new environment and everything should work fine. I have the update of this plugin in my priority list, so I hope to be working in the migration soon.

Please let me know if Spyder 4 is back to live :)

[2021-04-15 17:00] DragonEggBedrockBreaking commented on #251
How do I install Spyder 4? What command do I need?

[2021-04-20 16:42] MossSekhar commented on #252
Hello, I'm invested in seeing this on Spyder 5. I'm a beginner Python programmer and would like to help. Please let me know if you need anything that I can feasibly do

[2021-04-27 06:07] steff456 commented on #248
Hi @kjibran,

Earlier today the `pywinpty` 1.0 was released. Can you please upgrade this dependency on your environment and check if spyder-terminal is working?

Right now it is only available in pip, so please use the command `pip install pywinpty==1.0.0`

Let me know if that works for you

[2021-04-28 05:04] richdevboston opened #253 "Spyder-terminal never shows up on menu or as tabbed windows"
What steps will reproduce the problem?

I have installed Spyder using WinPython 3.9.4 (latest version as of today)

I then installed Spyder-Terminal using conda from the command line.

    install using "conda install spyder-terminal" into environment with Spyder 4.2.1 or Spyder 5.0.1 (I tried both and it does not show up in either Spyder 4.2.1 or 5.0.1.

    Spyder-Terminal never shows up on the

[2021-04-29 09:23] janaruto commented on #164
struggling with the same problem, no fixes yet?

[2021-05-04 22:15] dkinneyBU commented on #253
Windows 10 Insider Build 21370, Python 3.7, Spyder 5, installed with anaconda navigator. Also installed spyder-terminal with navigator, same results as above. No terminal pane.

[2021-05-04 23:22] steff456 commented on #253
Hi @richdevboston and @dkinneyBU, right now spyder-terminal is not working for Spyder 5. If you want to use the pane please stay in Spyder 4 for now. I'm starting to work on the migration and the release of spyder-terminal 1.0.0 this week and hopefully will have the version at the end of this month.

Thanks for reporting!

[2021-05-05 15:53] JohannHM opened #254 "spyder 5.0.1 malfunction and time lag between typing and response; or my bad?"
## Description of your problem
Hi team! Thanks for your efforts.

Look! I use to work with spyder 4.2 but I uploaded to the new 5.0.1, and now a huge lag between typing and spyder screen response appears. The lag is sometimes so big that the whole pc screen gets dark, even if I use another software, e.g., firefox. It takes so much time to take back the control of the keyboard.
It's impossible to w

[2021-05-05 16:01] ccordoba12 commented on #254
Hey @JohannHM, thanks for reporting. If you downgrade to Spyder 4.2.5 again, is the problem fixed?

[2021-05-05 17:01] JohannHM commented on #254
Wow!!!

@ccordoba12, I have several envs in my conda, I upgraded spyder in one of them, just for testing it (off course it was the worst idea, ever). Then when I started to work in my usual environments (4.2), my spyders in those envs completely crashed up!!! The screens of spyder in such envs were a mess: dissorted screen effect, cursor vanished, double or triple tool bars all around the screen!!

[2021-05-06 16:54] JohannHM commented on #254
Dear @ccordoba12
Apologize for bothering you. What should be your expertise about both problems above related?
1. spyder 5.0.1 slow down typing when block heading are commented. Relevant when scripting.
2. downgrade spyder version mess the screens up in all environments
Thanks for your recommendation.

[2021-05-06 17:31] JohannHM opened #256 "Does identation lines works in v.5.0.1?"
## Description of your problem
Identation vertical lines (guides) don't display in v5.0.1, even if identation guides are marked

**What steps will reproduce the problem?**

1. identation guides are marked but lines don't  show

**What is the expected output? What do you see instead?**
identation vertical lines

**Please provide any additional information below**

[2021-05-07 18:46] dkinneyBU commented on #253
Understood—thanks very much for following up! 😊
Dave

From: Stephannie Jimenez Gacha ***@***.***>
Sent: Tuesday, May 4, 2021 7:23 PM
To: spyder-ide/spyder-terminal ***@***.***>
Cc: David Kinney ***@***.***>; Mention ***@***.***>
Subject: Re: [spyder-ide/spyder-terminal] Spyder-terminal never shows up on menu or as tabbed windows (#253)

Hi @richdevboston<https://github.com/richdevboston> and @dkin

[2021-05-10 20:40] steff456 commented on #256
Hi @JohannHM,

This is an issue you are having with Spyder or Spyder-terminal? Did Spyder throw an error message or the functionality is just not working? Either way please upload a screenshot with your behavior

Thanks for reporting

[2021-05-11 10:38] JohannHM commented on #256
Hi team.
It's an issue with spyder.
spyder 5 does not show the vertical lines for better indentation. After @ccordoba12 recommendation of downgrading the version the solution was still worst. All the envs worked wrong, screens doesn't fit, resolution crashed off, I had to completely remove spyder spending so many time to go back to the basic configuration. No pics available now, cuz I had to re-in

[2021-05-23 18:49] kbauer opened #258 "Allow binding external tools to hotkeys"
### Issue Report Checklist

Not really applicable, because it is an enhancement request. The relevant subset:

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Repr

[2021-05-28 00:24] tshoorideh opened #260 "Terminal Tab doesn't show up"
I'm working with Spyder 4.0.1 and python 3.7, I downloaded the terminal plugin using:

conda install spyder-terminal -c spyder-ide

The terminal doesn't show up on the tab, and on the pane, I don't have the option to add it. what is the solution to this?

[2021-05-30 23:17] ccordoba12 commented on #254
This is discussed on issue spyder-ide/spyder#15631. Please check it for some helpful pointers.

[2021-05-30 23:17] #254 closed

[2021-06-01 15:48] steff456 commented on #260
Hi @tshoorideh,

Is it visible under View>Panes>Terminal ?

[2021-06-01 15:55] tshoorideh commented on #260
I checked. It’s not there. It showed up one time but then spyder crashed
and it disappeared after that and never came back. I uninstalled and
reinstalled the plug in. And tried different spyder version as well. But no
luck yet

On Tue, Jun 1, 2021 at 8:48 AM Stephannie Jimenez Gacha <
***@***.***> wrote:

--
Taraneh Shoorideh

[2021-06-02 09:27] Joshua-Brooke opened #262 "Spyder Terminal failing on start up"
## Description of your problem
On Start up spyder-terminal fails with the error message saying it cannot find the web terminal and asks to open in debug mode.
The terminal does not auto-start and I have to right click to create a new terminal (don't know if this is normal behaviour or just because it fails initially).  If attempting to open before or after the error message different error logs ar

[2021-06-14 23:34] steff456 commented on #260
What version of Spyder are you currently in?

[2021-06-14 23:36] steff456 commented on #262
Hi @Joshua-Brooke,

Right now we are updating this plugin to be compatible with Spyder 5 and the latest version of Pywinpty.  I will close this issue once the new version is released for you to try it out.

[2021-06-15 02:32] steff456 opened #264 "Use QProcess instead of subprocess.Popen"
Change the use of `subprocess.Popen` to `QProcess` when the server is created

[2021-06-15 02:36] steff456 commented on #251
If you are using conda please create a new environment and pin Spyder version,

[code]

That should install you the last release of Spyder 4 with Spyder-terminal and it should be working.

[2021-06-15 02:50] #252 closed

[2021-06-15 02:50] #253 closed

[2021-06-15 02:54] steff456 commented on #256
Could you fix your issue then by re-installing Spyder?

[2021-06-15 09:20] DragonEggBedrockBreaking commented on #251
I ran successfully:
[code]

I then ran the command `conda install spyder-terminal` and I got an error:
[code]

I also ran a different command which is the command stated [on the releases page](https://github.com/spyder-ide/spyder-terminal/releases) - `conda install spyder-terminal -c spyder-ide`, and I got a different error:
[code]
(this second error is the same error as I was getting before with

[2021-06-15 10:26] Joshua-Brooke commented on #262
Just to confirm will the updated plugin also work with spyder 4?

[2021-06-15 13:13] ccordoba12 commented on #262
No, it won't, sorry.

[2021-06-15 15:05] ccordoba12 commented on #251
It seems we don't have Spyder-terminal packages for Python 3.9, but that will be fixed in our next version, to be released early next month.

[2021-06-16 15:59] #247 closed

[2021-06-19 21:00] richdevboston opened #269 "Spyder-terminal cannot be installed in Python 3.8 or 3.9"
## Description of your problem

The Spyder-terminal installer needs to do version checks for Python and Spyder FIRST, warn the user, and stop if they are not using Python 3.6 or Python 3.7.

We need much clearer documentation for Spyder-Terminal on this Github.com home page too.    It must state WHICH versions of Spyder and Python that Spyder-Terminal v0.5.x requires.

Right now spyder-terminal in

[2021-06-20 18:51] ccordoba12 commented on #269
Hey @richdevboston, thanks for reporting. We'll verify that Spyder-terminal can be installed in those Python versions in our next release.

[2021-06-27 23:04] Jopinc opened #274 "Spyder Terminal doesn't work in Spyder 5.0.4"
### Description of my problem ###
Spyder terminal is not working in Spyder 5.0.4 based on windows 10 pro and python 3.9.5. More details below.

### Steps #####
1. I have installed Spyder 5.0.4 in Windows 10 Pro using python 3.9.5. I'm not using Anaconda despite I have it installed.
Then, I installed spyder terminal using "pip" command (pip install spyder-terminal). After that, I open Spyder but th

[2021-06-28 16:18] steff456 commented on #274
Hi @Jopinc,

Right now we are working on the new version for Spyder-terminal that will be available for Spyder 5. We are planning to get this out on the next couple of weeks. Please be patient and if you want to follow the repo so you can see as soon as the release is made to install it.

Thanks for reporting!

[2021-06-28 16:18] #274 closed

[2021-06-29 00:45] #164 closed

[2021-06-29 00:45] #250 closed

[2021-07-03 22:44] Shubham-253 commented on #182
So any solution to this?, I just installed spyder terminal and it is not accepting any inputs ( keys not working)

[2021-07-05 16:22] steff456 commented on #182
Hi guys! While working on the new version of Spyder-terminal we made a lot of updates of a similar error with one of the newer versions of Pywinpty. We are going to make the release in a couple of days, so please once it is out test it and let me know if this error is still present.

[2021-07-06 05:49] tshoorideh commented on #260
I'm in Spyder 4.01

thanks,

On Mon, Jun 14, 2021 at 4:34 PM Stephannie Jimenez Gacha <
***@***.***> wrote:

--
Taraneh Shoorideh

[2021-07-07 23:15] steff456 commented on #248
Hi @kjibran,

Today we released the latest version of spyder-terminal for Spyder 5.0.5. Can you please try it out and let me know if your error still persists?

[2021-07-07 23:16] steff456 commented on #182
Hi everyone again! We just made the release of spyder-terminal 1.0.0 for Spyder 5.0.5. Can y'all try it out and let me know if he error still persists?

[2021-07-07 23:16] steff456 commented on #199
I'm closing this issue because there wasn't a follow-up response after more than a week. If your error persists please re-open this issue and reply with the requested information.

Thanks for reporting!

[2021-07-07 23:16] #199 closed

[2021-07-07 23:18] steff456 commented on #251
Hi @DragonEggBedrockBreaking,

We just released spyder-terminal 1.0.0 available for Python 3.9 in pip and in conda-forge channel. Please take into account that you need to install Spyder 5.0.5 to use it.

Thanks for reporting!

[2021-07-07 23:18] #251 closed

[2021-07-07 23:19] steff456 commented on #256
I'm closing this issue because there wasn't a follow-up response after more than a week. If your error persists please re-open this issue and reply with the requested information.

Thanks for reporting!

[2021-07-07 23:19] #256 closed

[2021-07-07 23:21] steff456 commented on #260
Hi @tshoorideh,

We just made the release 1.0.0 for the terminal compatible with Spyder 5.0.5. Please update your Spyder and install the latest version available from pip and conda-forge channel in conda.

Hope you can use the plugin with the new version.

[2021-07-07 23:21] #260 closed

[2021-07-07 23:23] steff456 commented on #262
Hi @Joshua-Brooke,

We just made the release 1.0.0 for the terminal compatible with Spyder 5.0.5. Please update your Spyder and install the latest version available from pip and conda-forge channel in conda.

As @ccordoba12 already mentioned, this update breaks compatibility with Spyder 4.x.

Thanks for reporting!

[2021-07-07 23:23] #262 closed

[2021-07-07 23:23] steff456 commented on #269
Hi @richdevboston,

We just made the release 1.0.0 for the terminal compatible with Spyder 5.0.5. Please update your Spyder and install the latest version available from pip and conda-forge channel in conda.

Thanks for reporting!

[2021-07-07 23:23] #269 closed

[2021-07-08 01:10] richdevboston commented on #269
What versions of Python is this update compatible with?

Thank you.

Best Regards,

Rich Lysakowski, Ph.D.
Data Scientist, Analytics Engineer,
and Senior Business Analyst
781-640-2048 mobile

On Wed, Jul 7, 2021 at 7:23 PM Stephannie Jimenez Gacha <
***@***.***> wrote:

[2021-07-08 16:11] steff456 commented on #269
With Python 3.6, 3.7, 3.8 and 3.9

[2021-07-09 16:39] saber-khakbiz opened #279 "terminal doesn't work in spyder ide"
## Description of your problem

**What steps will reproduce the problem?**

I can't write anything in the terminal!!!

**Please provide any additional information below**
![screenshot_env_spyder](https://user-images.githubusercontent.com/83659641/125109580-ccf43600-e0f8-11eb-8d6c-935e9e0fa14b.png)

## Versions and main components

* Terminal Version: v1.0.0
* Spyder Version: v5.0.5 (install it wit

[2021-07-09 16:57] steff456 commented on #279
Hi @saber-khakbiz,

Can you let me know what Pywinpty version do you have installed in your environment?

[2021-07-09 17:17] saber-khakbiz commented on #279
Hello @steff456,
Version: 1.1.2

[2021-07-09 17:25] steff456 commented on #279
Can you please update the version to 1.1.3? That should fix your issue :)

[2021-07-09 17:32] saber-khakbiz commented on #279
It works now :)
so thanks, @steff456,

[2021-07-09 17:32] #279 closed

[2021-07-15 18:25] tshoorideh commented on #260
I did that now i get the following error:
Solving environment: failed with initial frozen solve. Retrying with
flexible solve.
Solving environment: failed with repodata from current_repodata.json, will
retry with next repodata source.

how can I resolve this?

On Wed, Jul 7, 2021 at 4:21 PM Stephannie Jimenez Gacha <
***@***.***> wrote:

--
Taraneh Shoorideh

[2021-07-15 18:38] steff456 commented on #260
Can you please do the following instructions in a system terminal:

[code]

That should work, and you should be able to see the terminal

[2021-07-15 23:32] tshoorideh commented on #260
I updated my python to 3.8.10 will this still work ?
On Thu, Jul 15, 2021 at 11:38 AM Stephannie Jimenez Gacha <
***@***.***> wrote:

--
Taraneh Shoorideh

[2021-07-16 00:20] steff456 commented on #260
Yes! The latest release supports python 3.5 to 3.9 with Spyder 5.0.5

[2021-07-19 18:11] tshoorideh commented on #260
Thank you so much this worked.
I am using the terminal to run streamlit, but every time I run any
streamlit app, my terminal becomes unresponsive and i have to close it and
open it again to be able to work.
is there a fix for this?
also, how can I change the default directory of my spyder terminal? Since I
have to close and open a new terminal every time, I have to write the
directory address ever

[2021-08-17 07:50] saaketp commented on #248
I am not able to see spyder terminal also in windows 10. Maybe I have the same issue.

I tried running spyder from command prompt and I see:
[code]

I installed both `spyder` and `spyder-terminal` from conda-forge. Versions:
[code]

[2021-08-17 08:24] saaketp commented on #248
I noticed after posting the comment that there is a new version `spyder=5.1.1` available. I was not able to upgrade because of `python-language-server` installed.

After uninstalling `python-language-server` and installing `spyder` and `spyder-terminal` again this works my system, the terminal is showing up.

[2021-08-17 14:46] steff456 commented on #248
I'm glad to know that the new version is working as expected @saaketp!

@kjibran, can you please try it again with the latest version to know if we can resolve this issue and close it?

[2021-08-27 08:49] paraschakis opened #283 "Spyder-terminal with brew-installed Spyder"
## Description of your problem

How does one install spyder-terminal for Spyder that has been installed with brew under MacOS?

**What steps will reproduce the problem?**

1. brew install --cask spyder
2. conda install spyder-terminal -c conda-forge
- or -
3. pip install -U spyder-terminal

Both (2) and (3) fail.

## Versions and main components

* Terminal Version: 1.1.0
* Spyder Version: 5.1.1
*

[2021-08-27 12:24] #283 closed, assigned to nobody

[2021-08-30 18:58] frafra opened #284 "F3 pressed while using spyder-terminal"
## Description

### What steps will reproduce the problem?

I used `git commit` in `spyder-terminal`, which opened `nano`; I pressed F3 to save and the "Issue reporter" opened, but the program is still running.

### Traceback
[code]

## Versions

* Spyder version: 5.1.1
* Python version: 3.9.6
* Qt version: 5.12.10
* PyQt5 version: 5.12.3
* Operating System: Linux 5.13.8-200.fc34.x86_64

### Depen

[2021-09-05 14:21] frafra opened #285 "Default workdir"
## Description of your problem

**What steps will reproduce the problem?**

1. Open the terminal

**What is the expected output? What do you see instead?**

As I am working on a project, I would expect to see the terminal opened on the project folder, not on the home directory.

**Please provide any additional information below**

It would be nice to change the default, or add an option so that th

[2021-09-10 14:37] steff456 commented on #285
Hi @frafra,

The current working directory when you open the terminal is different from your project? We could also add that option to our preferences page for our next release.

[2021-09-10 14:43] frafra commented on #285
Hi @steff456,
that is correct. I tried to open spyder with `spyder -p .` and `spyder -p $PWD`, but the working directory is always set to `$HOME`. It would be a nice addition to have it set to the project folder in my opinion, as most of the commands would be executed on the files belonging to the project.

[2021-09-10 19:19] steff456 commented on #285
In your workflow, there's a way that you have the working directory in a different place than your project?

If so, I'm thinking that currently there's an option to open the terminal in the project directory in the hamburger menu. So maybe I can also add a shortcut to that action.

[2021-09-13 07:54] frafra commented on #285
In my workflow, the working directory is always the project main folder. If I really need to browse around, I can use `cd`. Having a different default folder would be like showing the home folder in the directory view (left bar) instead of the project directory, in my opinion; it would look like a suboptimal default to me.

I think that just changing the default would be great, as it would be more

[2021-09-13 13:49] ccordoba12 commented on #285
I think it's an interesting idea to open new terminals in the current project directory when a project is active. I mean, it's perhaps the most intuitive behavior.

[2021-09-17 02:26] KartikVatsa opened #286 "Terminal gets hanged/does'nt responds when its window is resized"
## Description of your problem
When resizing window of terminal inside spyder, terminal no longer responds, the cursor is blinking
but keyboard inputs are not registered. Also when new terminal is created and previous one is deleted,
the whole terminal window goes white and does'nt respond.

**What steps will reproduce the problem?**

1. Open a terminal window (Opens by default). Go to View and un

[2021-09-22 16:57] steff456 commented on #286
Hi @KartikVatsa,

This errors were fixed in our latest version of Spyder Terminal, but it is only compatible with Spyder > 5.1.2. If you can, please update and let me know if the error is not present anymore.

[2021-10-02 02:07] danielchang1985 opened #288 "Installing Spyder Terminal IDE returns UnsatisfiableError: The following specifications were found to be incompatible with each other: <empty list>"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2021-10-02 02:09] ccordoba12 commented on #288
Thanks for reporting. You need to create a new environment with conda-forge, a set of packages maintained by the community and with a more extensive set than the ones that come with Anaconda by default.

For that, please run the following commands in the Anaconda Prompt:

    conda create -n spyder-env -c conda-forge spyder-terminal
    conda activate spyder-env
    spyder

[2021-10-04 17:14] aliasspider2 commented on #288
--
Email Signature
*Matej Sedliak*
Front-End-Developemt of AI
	facebook icon <https://www.facebook.com/aliasspider/> twitter icon
<https://twitter.com/aliasspider> youtube icon
<https://youtube.com/aliasspider> linkedin icon
<https://www.linkedin.com/in/aliasspider> instagram icon
<https://www.instagram.com/aliasspider> pinterest icon
<https://sk.pinterest.com/headworldspider/_saved/>
Banner
<http

[2021-10-26 15:43] Greedquest opened #290 "Conda activate does not work"
## Description of your problem

**What steps will reproduce the problem?**

1. Open spyder powershell terminal
2. No env is active (e.g expect `(base) PS C:\Users\Username> ` but just get `PS C:\Users\Username> `)
3. Run `conda activate base` - no errors
4. type `python` to run an interactive session

**What is the expected output? What do you see instead?**

I see this warning:

Indicating conda

[2021-11-03 15:55] steff456 commented on #290
Hi @Greedquest,

If you use another backend for the terminal, does the environment activates correctly? I just want to know if this is only happening in powershell or in windows overall.

[2021-11-04 10:49] Greedquest commented on #290
Hey @steff456 no works in cmd just not powershell

[2021-11-08 20:05] steff456 commented on #290
I'll try to reproduce this issue on my end

[2021-11-17 07:49] sabarir983 opened #291 "spyder terminal"
## Description

### What steps will reproduce the problem?

unable to lunch psyder terminal after installing. getting """spyder.api.exceptions.SpyderAPIError: register was replaced by on_initialize, please check the Spyder 5.1.0 migration guide to get more information"""

### Traceback
[code]

## Versions

* Spyder version: 5.1.5
* Python version: 3.8.11
* Qt version: 5.9.7
* PyQt5 version: 5.9.2

[2021-11-24 12:37] dhawanrajat15 opened #292 "Terminal Issue on Spyder 5.1.5"
## Description of your problem

**What steps will reproduce the problem?**

1. Installed through conda install spyder=5.1.5 to have Terminal window
2. Opening Spyder produces the below error at start.

**What is the expected output? What do you see instead?**
![image](https://user-images.githubusercontent.com/87225630/143238042-f81741eb-cc6b-42ef-b3b0-9784adea4e09.png)

Terminal Server could not b

[2021-11-24 17:34] steff456 commented on #291
Hi @sabarir983,

Which version of Spyder-terminal did you installed?

[2021-11-24 17:35] steff456 commented on #292
Hi @dhawanrajat15,

Which version of spyder-terminal do you have installed in that environment?

[2021-11-25 03:08] dhawanrajat15 commented on #292
pip show spyder-terminal
Name: spyder-terminalNote: you may need to restart the kernel to use updated packages.

Version: 1.0.0
Summary: Spyder Plugin for displaying a virtual terminal (OS independent) inside the main Spyder window
Home-page: https://github.com/spyder-ide/spyder-terminal
Author: Spyder Project Contributors
Author-email: spyder.python@gmail.com
License: MIT
Location: c:\programdata

[2021-11-26 16:14] steff456 commented on #292
Can you update to Spyder-terminal 1.1.0? That should fix this error

[2021-12-15 17:25] #285 closed

[2021-12-28 20:27] richlysakowski opened #296 "Spyder-Terminal Plugin in Spyder v5 corrupts Spyder menus"
## Description of your problem

I am trying to build a conda environment that includes Spyder v5 with Spyder-Notebook and Spyder-Terminal Plugins.

I installed Spyder-Terminal into a new conda environment.

I have Spyder 5.2.1 installed in a conda virtual environment that was properly built using conda, then activated using conda 'activate', then installed conda package into the new conda environm

[2021-12-29 04:27] richlysakowski opened #297 "Spyder 5.2.1 with Spyder-Terminal corrupts menus and crashes Spyder in new conda environment"
## Description of your problem

I want to use Spyder with Spyder-Notebook and Spyder-Terminal.   I really want to use Spyder (instead of VSCode or Pycharm), and having an integrated Notebook and Terminal are really great.

I have tried several different Spyder configurations (4.2.1 and 5.2.1) in both brand new and existing conda environments.   This is frustrating because I had it working once las

[2021-12-29 18:05] ccordoba12 commented on #297
Closing as a duplicate of spyder-ide/spyder#17115. For next time, please open issue related to Spyder-terminal only here.

[2021-12-29 18:05] #297 closed

[2021-12-29 18:06] ccordoba12 commented on #296
Closing as a duplicate of issue #297 (it's basically the same problem and I explained to you how to fix it in spyder-ide/spyder#17115).

[2021-12-29 18:06] #296 closed

[2022-01-02 15:43] suedunham opened #299 "Terminal startup commands setting?"
## Description of your problem
This may be more of a feature request than a problem. I don't want to have an Anaconda prompt in regular PowerShell, but I'd like one in spyder-terminal within spyder. Is there a way to set any opening commands when the terminal starts up?

**A working illustration from a similar app.**

For instance, I've created a `Conda` task in [ConEmu](https://conemu.github.io/)

[2022-01-10 15:08] #292 closed

[2022-01-10 15:08] steff456 commented on #291
I'm closing this issue because there wasn't a follow-up response after more than a week. If your error persists please re-open this issue and reply with the requested information.

Thanks for reporting!

[2022-01-10 15:08] #291 closed

[2022-01-10 15:09] steff456 commented on #286
I'm closing this issue because there wasn't a follow-up response after more than a week. If your error persists please re-open this issue and reply with the requested information.

Thanks for reporting!

[2022-01-10 15:09] #286 closed

[2022-01-10 15:09] steff456 commented on #284
I'm closing this issue because there wasn't a follow-up response after more than a week. If your error persists please re-open this issue and reply with the requested information.

Thanks for reporting!

[2022-01-10 15:10] steff456 commented on #182
I'm closing this issue because there wasn't a follow-up response after more than a week. If your error persists please re-open this issue and reply with the requested information.

Thanks for reporting!

[2022-01-10 15:10] #182 closed

[2022-01-12 17:54] suedunham commented on #299
Perhaps I wasn't clear. I'm not trying to link ConEmu, I was just using it to illustrate the functionality I was looking for in Spyder. The Anaconda Prompt is just a shortcut to cmd or PowerShell that opens those programs with an additional command invoked in order to activate Anaconda in that session. Instead of the link merely going to `powershell.exe`, for instance, it says this:
[code]
What I

[2022-01-16 17:42] mrclary opened #301 "Font size preference not respected"
## Description of your problem

Font size in Spyder preferences is not respected. It appears that the font size in the Terminal plugin is always 16.

**What steps will reproduce the problem?**

1. Change font size in Spyder Preferences -> Appearance
2. Font size in Terminal plugin does not change

**What is the expected output? What do you see instead?**
Font size in Terminal plugin should change.

[2022-01-16 18:20] mrclary opened #302 "Zoom level increases by 2x every time a Terminal is opened."
## Description of your problem

If zoom level is non-zero, zoom level is multiplied by factor of 2 every time a Terminal tab is opened.

**What steps will reproduce the problem?**

1. Change zoom level (either in or out)
2. Open a new Terminal tab
3. Zoom level is enhanced by factor of two. This is also reflected in the `plugins/terminal/spyder.ini` file.

**What is the expected output? What do yo

[2022-01-17 15:36] steff456 commented on #301
Hi @mrclary,

We decided not to match the font size from Spyder preferences because it doesn't match the look of the IDE. I could try to see if it works better in newer versions of xtermjs, but last time we tried it depended on the size of your screen how big or small the text will be shown. Our solution for that, was to include the zoom in/out feature as a replacement.

[2022-01-17 15:39] steff456 commented on #302
Hi @mrclary,

We decided to store the zoom in/out that the people does, so when they open new terminals they don't have to perform the action again. When I tried it in a big resolution screen, it helped a lot because you don't have to do 8 or 10 zooms every time a terminal is open.

I'm not sure if it will be helpful to indicate the level of zoom somewhere, or even to make this functionality optio

[2022-01-17 15:41] steff456 commented on #248
I'm closing this issue because there wasn't a follow-up response after several months. If your error persists please re-open this issue and reply with the requested information.

Thanks for reporting!

[2022-01-17 15:41] #248 closed

[2022-01-17 16:19] mrclary commented on #302
@steff456, thanks for your hard work on this plugin. I think it will be useful for me and many of my colleagues that use Spyder.

For sure.

That's a good idea, but it is not important to me to see the zoom level.

That was my only concern at present.

[2022-01-18 00:01] mrclary opened #303 "ENV_ROUTE clarification"
@steff456 , I don't mean to bombard you with issues on this plugin, but I have some questions about the terminal setup.

What is the intention of the terminal plugin? Is is supposed to emulate an interactive login shell?
The reason I ask is that the `ENV_ROUTE` for `bash` and `zsh` may need some adjustment.

1. For `bash`, I'm not aware of any circumstance in which both `~/.bashrc` and `~/.bash_pr

[2022-01-18 16:10] steff456 commented on #303
Hi @mrclary, don't worry about opening issues!

The main idea behind this plugin is to have a console inside Spyder that works as close to a system terminal as possible. This is the reason why we decided to try to import all the configurations that may be modified by the user, specially to have all the conda paths available inside the terminal.

Maybe this can help, https://github.com/spyder-ide/s

[2022-02-01 19:46] #302 closed

[2022-02-03 08:21] boazdori opened #309 "Can't install spyder-terminal via conda install"
## Description of your problem
I tried to user:
conda install spyder-terminal -c spyder-ide
and got the following output.

**What steps will reproduce the problem?**
(base) PS C:\Users\User> conda install spyder-terminal -c spyder-ide
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: f

[2022-02-07 18:24] steff456 commented on #309
Hi @boazdori,

Can you please use the conda forge channel instead of spyder-ide channel?

[code]

And that should work, sadly defaults channel is not updated with the latests releases. Let me know how it goes!

[2022-02-21 14:28] BinaryVectorJr commented on #309
Hi,

Don't want to hijack OP's thread, but I was also looking for a solution, and I'm happy to report that I followed your steps @steff456 and it **worked properly**. I was able to get a Terminal in Spyder 5.2.2 and run a script from it. Thank you!

_P.S. - On initial launch, the text inside the terminal might wrap in a weird way. **Solution:** Close the "Terminal 1" tab or resize the panel border

[2022-03-03 23:25] steff456 commented on #309
Great! I'm glad you all have a working Terminal in Spyder 5.2.x. I'm going to leave this issue open just for people to get the fix in case they are looking for it!

[2022-03-08 19:17] mrclary opened #327 "Uncaught ReferenceError: spyder_terminal is not defined"

[2022-03-09 09:37] whmsft opened #314 "Spyder crashes after installation of Spyder_terminal"
## Description of my problem

I installed spyder-terminal and spyder failed to open and crashes

**What steps will reproduce the problem?**

1. installed spyder-terminal via pip
2. opened spyder
3. it crashes

**What is the expected output? What do you see instead?**
Expected: spyder shall open
Reality: Spyder is not responding or simply crashed

## Versions and main components

* Terminal Version

[2022-03-09 18:39] steff456 commented on #314
Hi @whmsft,

Sadly one of our libraries for windows `pywinpty` only supports versions greater than Windows 10 given that Windows 7 reached end of life. I recommend you to update to a latest windows version.

There's nothing else we can do on our end, sorry

[2022-03-09 18:39] #314 closed

[2022-03-19 18:37] Priyesh-Sharma commented on #309
Hi! I have tried both, conda forge channel as well as spyder-ide channel and none of them seem to work for me. I am not getting any errors during the installation. But, after installation and restarting Spyder, I cannot access Views > Panes to start the and test the terminal. Clicking Panes button does not open it's extended menu.

**Version details:**
- Conda - 4.12.0
- Spyder version : 5.1.5 (Us

[2022-03-27 01:54] Bluestonex64 commented on #182
I have this problem, my terminal is completly blank and the terminal is unusable, while I'm just trying to code a discord bot
![image](https://user-images.githubusercontent.com/102447359/160263240-899dfc84-b634-44c8-85fd-86ca3a121d5c.png)

[2022-04-03 10:40] b-a0 opened #318 "Spyder built in terminal has a large typing delay"

[2022-04-03 11:08] b-a0 opened #319 "Spyder terminal keeps running, even if Spyder is shutdown."
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2022-04-19 09:28] izahn opened #320 "Unsecurred terminal access"
## Description of your problem

spyder-terminal runs an unsecured shell accessible to all users on the system, posing a huge securing problem in multi-user environments.

**What steps will reproduce the problem?**

1.  Start spyder
2.  Use `top` or similar system monitor to identify the port that `spyder_terminal.server` is running on
3.  Open a web browser and navigate to `localhost:<port>` where

[2022-04-22 18:30] ccordoba12 commented on #320
Hey @izahn, thanks a lot for reporting this serious security problem, of which we were not fully aware of. We discussed it with the team and concluded the fix is not simple.

However, we'll try to address it in the next couple of months due to its relevance.

[2022-04-22 20:04] izahn commented on #320
Thanks guys, appreciate it!

[2022-05-03 18:00] gizemkar opened #322 "Spyder Terminal shows an error message"
I have installed Esri Arcgis Pro and I tried to plug-in Spyder to my environment. I was asked to update Conda Spyder to v5.30. I have done it and then I got terminal error "Terminal error couldn't be located at http://127.0.0.1:8071, please restart Spyder on debugging mode and open an issue with the contents of None and None files at https://github.com/spyder-ide/spyder-terminal/issues.

How can I

[2022-05-07 19:40] saaketp opened #323 "Allow choosing pwsh on windows (or any other shell by path if possible)"
## Description of your problem
I use pwsh on my windows machine nowadays, and I don't see a way to use that from spyder terminal. The settings menu has a dropdown with only cmd and powershell.

**What steps will reproduce the problem?**

1. Go to spyder settings -> Terminal
2. Find that there is no option for pwsh in the Terminal shell dropdown

**What is the expected output? What do you see inste

[2022-05-09 11:02] steff456 commented on #322
Hi @gizemkar!

What version of spyder terminal do you have installed? Also, how are you installing it?

[2022-05-09 11:04] steff456 commented on #323
Hi @saaketp! Thanks for opening this issue, I will add pwsh for our next release.

[2022-05-13 08:38] sh99-git opened #324 "Spyder Terminal Error"
## Description of your problem

**What steps will reproduce the problem?**

1. start spyder

**What is the expected output? What do you see instead?**
I expect terminal to run in spyder. Instead I see error saying
![image](https://user-images.githubusercontent.com/85927442/168243606-203088b7-17a7-4357-a668-36a85664db00.png)

**Please provide any additional information below**
- When I visit http:/

[2022-05-15 17:11] suedunham opened #325 "Server that creates terminals failed to start"
## Description of your problem
When shutting down Spyder, I get the error message attached. This occurred after upgrading to version 5.3.0 with ``-c conda-forge``.

**What steps will reproduce the problem?**

1. Open Spyder
2. Close Spyder

**What is the expected output? What do you see instead?**
I expect untroubled serenity, except for my own appalling code. Instead, I get told to come here.

**

[2022-05-17 21:50] steff456 commented on #324
Hi @sh99-git,

How did you installed Spyder and Spyder-terminal?

[2022-05-17 21:54] steff456 commented on #325
Hi @suedunham,

How did you installed Spyder and Spyder-terminal? Is this happening all the times you open/close Spyder or is it casually?
I don't see anything wrong in the log you attached, so also let me know if you changed something else in Spyder to try it on my end.

[2022-05-17 23:26] sh99-git commented on #324
Through anaconda prompt with pip install spyder spyder-terminal

[2022-05-18 14:30] suedunham commented on #325
It's been I while since I installed it, so I'm not sure I remember just how I did it. I do recall that installing it one way seemed to give me an older version of Spyder with a newer version of Python, and installing it a different way gave me a more current Spyder with Python 3.7. I tried a few ways: Spyder's installer, Anaconda, Miniconda, eventually settling on setting up a Miniconda installati

[2022-05-18 23:53] steff456 commented on #325
Can you please try to reinstall everything in a new environment to see if that fixes things?

[code]

In case you don't want to use the terminal anymore you can also uninstall it from your current environment and error messages should stop. You can do it using `conda uninstall spyder-terminal`

Let me know if this helps!

[2022-05-19 06:22] sh99-git commented on #324
I use conda to manage packages. I have tried installing spyder in test environments as you have suggested. But issue still persists.

[2022-05-19 14:07] steff456 commented on #324
Did you try it on a clean environment using the conda-forge channel?

[2022-05-19 14:14] suedunham commented on #325
Both fixes seemed to work. As it happens, my original Spyder environment was named "Spyder52" which is now out of date, so I needed a new environment anyway. 😄

Interestingly, having opened the old installation first, closing it, and then opening the new one would trigger the "Application is unable to start" warning once on startup. Closing and reopening the new would seem to clear that. Removing

[2022-05-19 14:26] suedunham commented on #325
Oops, spoke too soon. Things work fine when opening Spyder from the desktop shortcut. However, when I open it in the command line with
[code]

I get the "Application was unable to start" dialog along with ``fromIccProfile: failed minimal tag size sanity`` in the (regular, external to Spyder) terminal from which I opened it.

[2022-05-19 15:11] steff456 commented on #325
Can you upload a screenshot with the error please?

[2022-05-24 08:56] sh99-git commented on #324
Yes. I had tried with clean environment.

[2022-06-22 02:46] #301 closed

[2022-06-27 19:39] Bzheng2020 opened #328 "Spyder Terminal Error"
## Description of your problem

**What steps will reproduce the problem?**

1. Start Spyder
2.
3.

**What is the expected output? What do you see instead?**

"Spyder Terminal Error: Terminal server could not be located at http://127.0.0.1:8071, please restart Spyder on Debugging mode and open an issue with contents of None and None files at https://github.com/spyder-ide/spyder-terminal/issues"

**

[2022-09-08 21:07] GregoryMandell opened #330 "Terminal server could not be located"
## Description of your problem

**What steps will reproduce the problem?**

1.Opening Spyder
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**
I got an error message that said the terminal server could not be located at http://127.0.0.1:8071.  I was then instructed to restart Spyder in debugging mode, but that didn't solve the pro

[2022-09-08 22:11] briswi opened #331 "terminal server not starting with python>=3.10"
## Description of your problem
This is similar to an already open issue (https://github.com/spyder-ide/spyder-terminal/issues/325). Submitting new issue as it is occurring for different versions and main components.
**What steps will reproduce the problem?**

1. Install spyder and spyder-terminal in a conda environment that has python>=3.10
2. Start spyder via command line
3. Close spyder

**What

[2022-09-09 21:46] GregoryMandell opened #332 "No module named 'flask_sqlalchemy'"
## Description of your problem

**What steps will reproduce the problem?**

1.  Running this line:  from flask_sqlalchemy import SQLAlchemy
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Versions and main components

* Terminal Version:
* Spyder Version:
![Spyder_Error_Message_SQL_Alchemy](https://user-images.githubusercont

[2022-09-10 17:19] richlysakowski opened #333 "installed Spyder-terminal and View menu is missing Spyder-Terminal optino"

[2022-09-12 06:09] richlysakowski commented on #333
Hi Carlos,

I don't remember specifying a specific version of spyder-terminal.  I thought that I used the command from the instructions on the Spyder-ide homepage:

    conda install -c conda-forge spyder-terminal

But it is possible that I used:

    conda install spyder-terminal -c spyder-ide

I installed spyder-terminal into an existing conda environment called "streamlit".  After Spyder did no

[2022-09-12 17:23] ccordoba12 commented on #333
Yeah, you could have done that.

Ok, please do that and let us know it works for you.

[2022-09-25 14:49] ccordoba12 commented on #332
Hey @GregoryMandell, thanks for reporting. Just click on the link called `this FAQ` and follow the instructions there.

[2022-09-25 14:49] #332 closed

[2022-09-25 14:53] ccordoba12 commented on #331
Hey @briswi, thanks for reporting. We'll check why Spyder-terminal is not working for Python 3.10 in the coming months. In the meantime, please use it with Python 3.9.

[2022-09-28 15:52] dkinneyBU commented on #331
Similar but different. Just installed Spyder 5.3.3. Notebook is fixed--yay! Terminal is broken--boo!

- OS: Windows 11
- Spyder: 5.3.3
- Python 3.8.12 (packaged with conda-forge)
- Spyder Terminal: 1.2.2

When I start spyder the Terminal pane is just blank.  If I then create a new terminal, the pane populates for a few seconds, and then also goes blank. So, it's like it's trying to start and then

[2022-09-28 15:57] ccordoba12 commented on #331
@dalthviz, could you check if Spyder-terminal is working for you using the env configuration mentioned by @dkinneyBU?

[2022-09-28 16:21] dalthviz commented on #331
I was able to run the terminal normally (although indeed when starting Spyder you can see it as a blank pane). Just in case, this is the env `conda list` details where I tested (I have Windows 10 though):

<details>

[code]

</details>

[2022-09-30 18:12] dkinneyBU commented on #331
I completely uninstalled anaconda, and re-installed mini-conda, which packages Python 3.9.12, and I have the same results.  @dalthviz you mentioned that it starts as a blank pane for you as well. What did you do to "wake it up"?

I also tried with both Powershell and Cmd--the results are the same.

[2022-09-30 18:37] dalthviz commented on #331
@dkinneyBU I just wait for a bit and then the Terminal shows itself (I think the blank pane happens when the Terminal is still loading).

Could it be possible for you to start Spyder on debug mode and share the generated log? Maybe by cheking it we could determine the error happening when starting the Terminal in your case.

To generated the debug log output, run Spyder from an Anaconda prompt usi

[2022-09-30 19:23] dkinneyBU commented on #331
Yeah, I can wait for an hour and it never starts up. :-(
[dkinneyBU_log.txt](https://github.com/spyder-ide/spyder-terminal/files/9687104/dkinneyBU_log.txt)

I think I attached the log; if that didn't work let me know and I'll copy & paste.

thank you for the prompt assistance, I appreciate it!

[2022-10-01 15:17] dkinneyBU commented on #331
My machine experiencing this issue is showing Python 3.10.6 in the Console. On a whim, I went through the same install process on my gaming laptop (both machines are running Windows 11). Terminal is working on that install, but this one is showing 3.9.12.

So, looks like this is likely a Python 3.10 thing, as the original issue logger stated. A little later today I will downgrade Python on my main

[2022-10-02 15:19] dkinneyBU commented on #331
@dalthviz--
Welp... I create a new spyder environment with Python 3.9 and just installed spyder 5.3.3 and spyder-terminal--same results. But I did notice a whole boatload of these in the verbose debug log:

Uncaught ReferenceError: spyder_terminal is not defined
Uncaught ReferenceError: spyder_terminal is not defined
Uncaught ReferenceError: spyder_terminal is not defined
Uncaught ReferenceError:

[2022-10-02 23:22] ccordoba12 commented on #331
Don't worry, that's a harmless message.

[2022-10-03 18:24] dalthviz commented on #331
After checking the debug log I'm seeing a couple of things that could be worthy to investigate:

* `urllib3` warning:
[code]
* WebSocket connection lost message:
[code]
Also, what happens if you try to access the url where the terminal server technically starts? I think it should be something like http://127.0.0.1:8071/

[2022-10-04 17:20] richlysakowski opened #334 "Spyder Terminal Clipboard not working with Ctrl-C, Ctrl-V, Ctrl-X"
## Standard Windows Keyboard Shortcuts are not working with Spyder Terminal Clipboard

I see that Ctrl-Alt-C, Ctrl-Alt-X, Ctrl-Alt-V must be used.  This requires an awkward three-finger operation that strains the fingers and will contribute to repetitive strain injury for susceptible people.

Please change these back to the Standard established decades ago.
Millions of people use these many time e

[2022-10-08 14:46] ccordoba12 commented on #334
Hey @richlysakowski, thanks for reporting. Keyboard shortcuts that only depend on `Ctrl` can't be used on standard terminals because they are already taken by them. For instance, `Ctrl+C` is used to terminate the current command, `Ctrl+Q` to send it to the background, etc.

However, if you find the shortcuts we set a bit odd, you can change them by going to `Preferences > Keyboard shortcuts`, filt

[2022-10-08 14:48] ccordoba12 commented on #334
As an improvement, I think we could drop the `Ctrl` at the beginning and leave them as `Alt+Shift+C` and `Alt+Shift+V` (not really sure if that's really possible though).

[2022-10-10 11:49] dkinneyBU commented on #331
Hey sorry for the delay, it was a crazy week for me.

@dalthviz so that's interesting. If I hit that url the terminal works fine. So, just not working within Spyder??? Or maybe it's "working" but just not displaying correctly in the pane?

![image](https://user-images.githubusercontent.com/43932354/194859704-c944fe33-657b-4053-ba8e-b70cac96d280.png)

[2022-10-10 15:29] dalthviz commented on #331
Thanks for the feedback @dkinneyBU ! And then seems like for some reason the Terminal GUI is not able to stablish a connection with the started Terminal server which I guess is related with the `Websocket - Connection lost, reconnecting in 1 seconds.` message.

Also, just in case checked creating a new env with the conda-forge and Python 3.10.6 but is working for me 🤔

Env details:

<details>

[co

[2022-10-23 05:44] Dominiquini opened #335 "Multiple tabs not working"
## Description of your problem

**What steps will reproduce the problem?**

1. Start Spyder IDE
2. Focus on Terminal panes
3. Click on the '+' (Open a new terminal)
4. The tab "Terminal 1" change to "Terminal 2"

**What is the expected output? What do you see instead?**
A new tab with name "Terminal 2" should appear, without replacing the previous tab!

**Please provide any additional information

[2022-10-24 18:53] FraserBell opened #336 "Terminal server could not be located"

[2022-10-27 14:43] mhechthz commented on #336
I have the same problem. The terminal is accessable in browser but spyder fails to connect (Python 3.9, Python 3.10, spyder 5.3.3, spyder-terminal 1.2.2).

[2022-10-27 17:09] dalthviz commented on #336
From the logs seems like the websocket is being closed. If the problem is related with the websocket handling maybe is related with the `terminado` version you have installed? What `terminado` version do you have installed @mhechthz @FraserBell ? What happens if you try to downgrade to `terminado` 0.13.3 ?

[2022-10-28 06:09] mhechthz commented on #336
terminado==0.17.0 ... with terminado 0.13.3 it's the same problem. Terminal can be accessed via browser but not from Spyder.

[2022-10-28 15:38] dalthviz commented on #336
Thanks for the new info @mhechthz! I'm not sure what could be happening there sorry :/

The other piece of log that is interesting from the OP is the code 404 for the `main.bundle.js` - `2022-10-24 15:35:08 8afbf8f0.st-andrews.ac.uk tornado.access[12256] WARNING 404 GET /main.bundle.js (127.0.0.1) 258.44ms` 🤔

Also, thanks for the feedback around all issue, will close them as superseded by this on

[2022-10-28 15:40] dalthviz commented on #330
Closing as superseded by #336

[2022-10-28 15:40] #330 closed

[2022-10-28 15:40] dalthviz commented on #324
Closing as superseded by #336

[2022-10-28 15:40] #324 closed

[2022-10-28 15:41] dalthviz commented on #328
Closing as superseded by #336

[2022-10-28 15:41] #328 closed

[2022-10-28 15:42] dalthviz commented on #322
Closing as superseded by #336

[2022-10-28 15:42] #322 closed

[2022-10-28 15:49] mhechthz commented on #336
You forgot 203 ;)

[2022-10-28 16:00] dalthviz commented on #203
Superseded by https://github.com/spyder-ide/spyder-terminal/issues/336

[2022-10-30 19:45] achyutasurya opened #337 "Spyder Terminal Install Error"
Initially I am trying to install the terminal into spyder, so I came across [Article](https://docs.spyder-ide.org/4/plugins/terminal.html#:~:text=Using%20the%20Terminal,bottom%20of%20the%20console%20area.)

when trying to run the `conda install spyder-terminal -c spyder-ide`

I got error,

[code]

To solve I came across a article in github [Article](https://github.com/conda/conda/issues/9367#issue

[2022-10-31 22:51] ccordoba12 commented on #337
Hey @achyutasurya, thanks for reporting. Please run the following commands in a terminal to see if they help:

    conda create -n spyder-env -c conda-forge spyder spyder-terminal
    conda activate spyder-env
    spyder